openapi: 3.0.3
servers:
  - url: https://api.sensible.so/v0
    description: Production server (uses live data)
info:
  title: Classification
  version: 0.0.0
  license: # TODO: fill in
    name: Sensible API
    url: https://www.TBD.org/licenses/LICENSE-2.0.html
  description: Extract structured data from documents with the Sensible API.

# Apply the auth globally to all operations
security:
  - bearerAuth: []

paths:

  /classify/async:
    post:
      operationId: classify-document
      summary: Classify document by type

      description: |
        Score a document's similarity to each document type you defined in your Sensible account. Get scores for the document's similarity to document types and to their reference documents.
        To retrieve the scores, poll the `download_link` in this endpoint's response until it returns a non-error response.
        For more information about scores, expand the 200 response in the [/classify](ref:classify-document-sync) endpoint.

        Use this endpoint:

         - In an extraction workflow. For example, determine which documents to extract prior to calling a Sensible extraction endpoint.
         - Outside an extraction workflow. For example, to determine where to route each document or to label each document in a system of record.

        To post the document bytes, specify the non-encoded document bytes as the entire request body,and specify the `Content-Type` header, for example,"application/pdf" or "image/jpeg".
        For a list of supported document file types, see the [/extract](ref:extract-data-from-a-document) endpoint.

      requestBody:
        required: true

        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body

      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifyAsyncSingleResponse'
          description: |
            Link to download the classification response. Poll the link until it returns a non-error response.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'




  /classify:
    post:
      operationId: classify-document-sync
      summary: Classify document by type (sync)
      description: |

        **Note:** Use this Classify endpoint for testing. Use the asynchronous Classify endpoint for production.

        Score a document's similarity to each document type you defined in your Sensible account. Get scores for the document's similarity to document types and to their reference documents.

        Use this endpoint:

         - In an extraction workflow. For example, determine which documents to extract prior to calling a Sensible extraction endpoint.
         - Outside an extraction workflow. For example, determine where to route each document or to label each document in a system of record.

        To post the document bytes, specify the non-encoded document bytes as the entire request body,and specify the `Content-Type` header, for example,"application/pdf" or "image/jpeg".
        For a list of supported document file types, see the [/extract](ref:extract-data-from-a-document) endpoint.
      requestBody:
        required: true

        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
          application/pdf:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body

      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifySingleResponse'
          description: |
            The document type and reference documents in the Sensible account that are most similar to this document.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'







components:

  responses:

    401:
      description: Not authorized
      content:
        text/plain:
          schema:
            title: Unauthorized
            type: string
            example: Unauthorized

    # only error response that differs from Extraction API
    400:
      description: Bad Request
      content:
        text/plain:
          schema:
            title: Bad Request
            type: string
            example: >-
              Messages related to the file content type, to reading or OCRing the file, or to classifying the document.

    415:
      description: Unsupported Media Type
      content:
        text/plain:
          schema:
            title: Unsupported Media Type
            type: string
            example: >-
              One of the following error messages -
              Content-Type must be application/json
              Content-Type must be application/json or application/pdf or image/jpeg or image/png or image/tiff
    429:
      description: Too Many Requests
      content:
        text/plain:
          schema:
            title: Unsupported Media Type
            type: string
            example: >-
              One of the following error messages -
              Attempt limit exceeded, please retry after some time.
              Free accounts are limited to 150 API calls per month. Please upgrade your account to make additional calls.
              Pro accounts are limited to 5,000 API calls per month. Please upgrade your account to make additional calls.
    500:
      description: Internal Server Error
      content:
        text/plain:
          schema:
            title: Sensible encountered an unknown error
            type: string
            example: Sensible encountered an unknown error
  #parameters:



  securitySchemes:
    bearerAuth:       # arbitrary name for the security scheme
      type: http
      scheme: bearer
      description: >-
        Sensible uses API keys to authenticate requests. You should have received a key as a part of onboarding,
        but if you're having trouble with your current key, please reach out to support@sensible.so.
        Keep your API keys secure and do not share them publicly accessible areas such as GitHub, client-side code, etc.
        Authentication to the API is performed via Bearer Authentication. Provide your API key as the bearer auth value.

  schemas:

    ClassifyAsyncSingleResponse:
      type: object
      properties:
        id:
          type: string
          description: ID for this classification response.
        content_type:
          type: string
          description: File format of the document for which you requested classification.
        download_link:
          description: Poll until the download URL returns a non-error response. Links to a JSON download that contains the same response as from the synchronous Classify endpoint request.
          type: string
          format: url
      example:
        id: 49f844ba-4429-4974-919d-2f1bdfa95f7c
        content_type: application/pdf
        download_link: https://sensible-so-document-type-bucket-dev-us-west-2.s3.us-west-2.amazonaws.com/c024cd1c-5f33-4a82-b2ea-2c807e44988b/CLASSIFICATION/49f844ba-4429-4974-919d-2f1bdfa95f7c.json?AWSAccessKeyId=REST_REDACTED

    ClassifySingleResponse:
      type: object
      properties:
        document_type:
          type: object
          description: Document type defined in the Sensible account that this doc is most similar to. To use a document type for classification, Sensible requires that the type contains at least one reference document.
          properties:
            id:
              type: string
              description: Unique ID for the document type.
            name:
              type: string
              description: User-friendly name for the document type.
            score:
              type: number
              description: Similarity score comparing the document to the document type, between 0 and 1.
        reference_documents:
          type: array
          description: Reference documents uploaded to the Sensible account that this document is most similar to.
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique ID for the reference document.

              name:
                type: string
                description: User-friendly name for the reference document.
        classification_summary:
          type: array
          description: Scores for this document's similarity to each document type in the Sensible account, excluding built-in document types such as `senseml_basics`.
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique ID for the document type.
              score:
                type: number
                description: Similarity score comparing the document to the document type, between 0 and 1.

      example:
        document_type:
          id: 77c2ab88-3389-4ea8-93c7-912c2bfd373a
          name: tax_forms
          score: 0.9637581544082083
        reference_documents:
        - id: b4fbc822-de99-4916-b43a-2902131f2619
          name: 1040_2020_sample
          score: 0.999649884175599
        - id: 23680cc8-7855-4698-b51f-6a054704fd1e
          name: 1040_2019_sample
          score: 0.983879165384638
        - id: 58aef918-7017-4576-ad5c-f987b98b4ae7
          name: 1040_2021_sample
          score: 0.9670293766923486
        - id: 161b27ab-5218-4650-a919-65df03de3454
          name: senior_1040_2021_sample
          score: 0.939401195335292
        - id: fb9ed1c3-0545-4f79-bd00-565838bd96a4
          name: 1040_2018_sample
          score: 0.9288311504531641
        classification_summary:
        - id: 28eee728-e51b-471c-ba92-827c995476f6
          name: home_policy_declaration_pages
          score: 0.7760597095611765
        - id: 16b06941-9486-475a-a6bf-120cf433f6f3
          name: bank_statements
          score: 0.7639481987557378
