openapi: 3.0.3
servers:
  - url: https://api.sensible.so/v0
    description: Production server (uses live data)
info:
  title: Extraction
  version: 0.0.0
  license: # TODO: fill in
    name: Sensible API
    url: https://www.TBD.org/licenses/LICENSE-2.0.html
  description: Extract structured data from documents with the Sensible API.

# Apply the auth globally to all operations
security:
  - bearerAuth: []

tags:
  - name: Document
    description: "Extract data from documents"
  - name: Portfolio
    description: "Extract data from multiple documents bundled into single PDF files"
  - name: Retrieve extractions
    description: "Retrieve data extracted asynchronously from documents"
  - name: Get Excel from documents
    description: "Convert extracted document data to spreadsheet"



paths:

  
  /extract/{document_type}:
    post:
      operationId: extract-data-from-a-document
      summary: Extract data from a document (sync)

      description: |

        **Note:** Use this endpoint for testing. Use the asynchronous extraction endpoints for production.

        Extract data from a local document synchronously.

        To explore this endpoint, use this interactive API reference, or use one of the following options:

        - For a quick "hello world" response to this endpoint, see the [API quickstart](doc:quickstart)
        - For a step-by-step tutorial about calling this endpoint, see [Try synchronous extraction](doc:api-tutorial-sync).
        - Run this endpoint in the Sensible Postman collection.
          [![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/16839934-45339059-3fec-4c31-a891-9a12a3e1c22b?action=collection%2Ffork&collection-url=entityId%3D16839934-45339059-3fec-4c31-a891-9a12a3e1c22b%26entityType%3Dcollection%26workspaceId%3Ddbde09dc-b7dd-487d-a68f-20d32b008f90)

        There are two options for posting the document bytes.
          1. (often preferred) specify the non-encoded document bytes as the entire request body,and specify the `Content-Type` header, for example,"application/pdf" or "image/jpeg".
             See the following for supported file formats.
          2. Base64 encode the document bytes, specify them in a body "document" field, and specify application/json for the `Content-Type` header.

        For a list of  supported document file types, see [Supported file types](doc:file-types).

      parameters:
        - $ref: '#/components/parameters/document_type'
        # - $ref: '#/components/parameters/configuration' # todo follow up on https://sensiblehq.slack.com/archives/C0215T9K86P/p1686933600795399
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'
      requestBody:
        required: true

        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body
          application/pdf:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body
          application/msword:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body

          application/json:
            schema:
              $ref: "#/components/schemas/encodedPdf"





      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionSingleResponse'
          description: |
            The structured data extracted from the document.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /generate_upload_url/{document_type}:
    post:
      operationId: generate-an-upload-url
      summary: Extract doc at a Sensible URL
      description: |
        Extract data asynchronously from a document with the following steps:
          1. Use this endpoint to generate a Sensible URL.
          2. PUT your document at the `upload_url` returned from the previous step. Sensible extracts data from the document.
          3. To retrieve the extraction, use a webhook, or use the extraction `id` returned in the response to poll the GET documents/{id} endpoint.

        For supported file size and types, see [Supported file types](doc:file-types).

        For example, if your call to `/generate_upload_url` specifies the document type with a `content_type` body parameter (recommended), your first two steps are as follows:

        Step 1. Generate the Sensible URL:

        ```curl
        curl --location 'https://api.sensible.so/v0/generate_upload_url/<YOUR_DOCUMENT_TYPE>' \
        --header 'Content-Type: application/json' \
        --header 'Accept: application/json' \
        --header 'Authorization: Bearer REDACTED' \
        --data '{"content_type":"application/pdf"}'
        ```

        Step 2. PUT the document:

        ```curl
        curl --location --request PUT 'https://sensible-so-utility-bucket-dev-us-west-2.s3.us-west-2.amazonaws.com/REDACTED' \
        --header 'Content-Type: application/pdf' \
        --data 'YOUR_PATH_TO_DOCUMENT.pdf'
        ```

        Note that in step 2:
          - you must omit an authorization header
          - the `Content-Type` header must match the `content_type` body parameter in step 1
          - the pre-signed `upload_url` doesn't support Base64 encoded documents, so you PUT the document bytes directly to the endpoint.


        For a step-by-step tutorial on calling this endpoint, see
        [Try asynchronous extraction from a Sensible URL](https://docs.sensible.so/docs/api-tutorial-async-2).

      parameters:
        - $ref: '#/components/parameters/document_type'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'
      requestBody:
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUrlRequest'
      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
          description: Returns the upload_url at which to PUT the document for extraction
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /extract_from_url/{document_type}:
    post:
      operationId: provide-a-download-url
      summary: Extract doc at your URL
      description: |
        Extract data asynchronously from a document at the specified `document_url`.<br/>
        For supported file size and types, see [Supported file types](doc:file-types).
        Take the following steps.
        1. Run this endpoint.
        3. To retrieve the extraction, use a webhook, or use the extraction `id` returned in the  response to poll the GET documents/{id} endpoint.
        For a step-by-step tutorial on calling this endpoint,
        see [Try asynchronous extraction from your URL](doc:api-tutorial-async-1).
      parameters:
        - $ref: '#/components/parameters/document_type'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'
      requestBody:
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractFromUrlRequest'
      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractFromUrlResponse'
          description: Returns the ID to use to retrieve the extraction
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

# same endpoints, but for specific config
  /extract/{document_type}/{config_name}:
    post:
      operationId: extract-data-from-a-document-with-config
      summary: Extract data from a document using specified config

      description: |
        This endpoint's behavior identical to the [Extract data from a document](ref:extract-data-from-a-document) endpoint's behavior, except that Sensible uses the specified config to extract data from the document instead of automatically choosing the best-scoring extraction in the document type.

      parameters:
        - $ref: '#/components/parameters/document_type'
        - $ref: '#/components/parameters/config_name'
        # - $ref: '#/components/parameters/configuration' # todo follow up on https://sensiblehq.slack.com/archives/C0215T9K86P/p1686933600795399
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'
      requestBody:
        required: true

        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body
          application/pdf:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body
          application/msword:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              type: string
              format: binary
              description: non-encoded document bytes as the entire request body

          application/json:
            schema:
              $ref: "#/components/schemas/encodedPdf"





      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionSingleResponse'
          description: |
            The structured data extracted from the document.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /generate_upload_url/{document_type}/{config_name}:
    post:
      operationId: generate-an-upload-url-with-config
      summary: Extract doc at a Sensible URL using specified config
      description: |
       This endpoint's behavior is identical to the [Extract doc at a Sensible URL](ref:generate-upload-url) endpoint's behavior, except that Sensible uses the specified config to extract data from the document instead of automatically choosing the best-scoring extraction in the document type.
      parameters:
        - $ref: '#/components/parameters/document_type'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'
        - $ref: '#/components/parameters/config_name'
      requestBody:
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUrlRequest'
      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
          description: Returns the upload_url at which to PUT the document for extraction
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /extract_from_url/{document_type}/{config_name}:
    post:
      operationId: provide-a-download-url-with-config
      summary: Extract doc at your URL using config
      description: |
        This endpoint's behavior is identical to the [Extract doc at your URL](ref:extract-from-url) endpoint's behavior, except that Sensible uses the specified config to extract data from the document instead of automatically choosing the best-scoring extraction in the document type.
      parameters:
        - $ref: '#/components/parameters/document_type'
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'
        - $ref: '#/components/parameters/config_name'
      requestBody:
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractFromUrlRequest'
      tags:
      - Document
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractFromUrlResponse'
          description: Returns the ID to use to retrieve the extraction
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'



  /generate_upload_url:
    post:
      operationId: generate-an-upload-url-for-a-pdf-portfolio
      summary: Extract portfolio at a Sensible URL

      description:  |
        Use this endpoint with multiple documents that are packaged into one file (a "portfolio"). For a list of supported file types, see [Supported file types](doc:file-types).
        Segments a portfolio file into the specified document types (for example, 1099, w2, and bank_statement) and then runs extractions
        asynchronously for each document Sensible finds in the portfolio.  Take the following steps -
        1. Use this endpoint to generate a Sensible URL.
        2. PUT the document you want to extract data from at the URL, where `SENSIBLE_UPLOAD_URL` is the URL you received
        from this endpoint's response. For more information about how to PUT the document, see the [generate_upload_url/{document_type}](ref:generate-upload-url) endpoint.
        3. To retrieve the extraction, use a webhook, or use the extraction `id` returned in the  response to poll the GET documents/{id} endpoint.
        For more about extracting from portfolios, see [Multi-document extractions](doc:portfolio).

      parameters:
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'

      requestBody:
        content:
            application/json:
              schema:
                type: object
                properties:
                  webhook:
                    $ref: '#/components/schemas/Webhook'
                  types:
                    $ref: '#/components/schemas/DocumentTypeNames'
                required:
                  - types
      tags:
      - Portfolio
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadPortfolioResponse'
          description: Returns the upload_url at which to PUT the document for extraction
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /extract_from_url:
    post:
      operationId: provide-a-download-url-for-a-pdf-portfolio
      summary: Extract portfolio at your URL
      description:  |

        Use this endpoint with multiple documents that are packaged into one file (a "portfolio"). For a list of supported file types, see [Supported file types](doc:file-types).
        Segments a portfolio file at the specified `document_url` into the specified document types (for example, 1099, w2, and bank_statement)
        and then runs extractions asynchronously for each document Sensible finds in the portfolio. Take the following steps.
        1. Run this endpoint.
        3. To retrieve the extraction, use a webhook, or use the extraction `id` returned in the  response to poll the GET documents/{id} endpoint.
        For more about extracting from portfolios, see [Multi-document extractions](doc:portfolio).
      parameters:
        - $ref: '#/components/parameters/environment'
        - $ref: '#/components/parameters/document_name'
      requestBody:
        content:
            application/json:
              schema:
                type: object
                properties:
                  document_url:
                    $ref: '#/components/schemas/DocumentUrl'
                  types:
                    $ref: '#/components/schemas/DocumentTypeNames'
                  webhook:
                    $ref: '#/components/schemas/Webhook'
                required:
                  - types
                  - document_url
      tags:
      - Portfolio
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractFromUrlPortfolioResponse'
          description: Returns the ID to use to retrieve the extraction.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'


  /documents/{id}:
    get:
      operationId: retrieving-results
      summary: Retrieve extraction by ID
      description: |
        Use this endpoint in conjunction with asynchronous extraction requests to retrieve your results.
        You can also use this endpoint to retrieve the results for documents extractions from the synchronous /extract endpoint.
        To poll extraction status, check the `status` field in this endpoint's response.
        When the extraction completes, the returned status is `COMPLETE` and the response includes results in the
        `parsed_document` field.  For fields in the extraction for which Sensible couldn't find a value, Sensible returns null.
      parameters:
        - $ref: '#/components/parameters/id'
      tags:
      - Retrieve extractions
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                 - $ref: '#/components/schemas/ExtractionSingleRetrievalResponse'
                 - $ref: '#/components/schemas/ExtractionPortfolioRetrievalResponse'
          description: Returns the extraction.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'





  /extractions:
    get:
      operationId: list-extractions
      summary: List extractions
      tags:
      - Retrieve extractions
      description: |
        Use this endpoint to get a filtered list of past extractions.
        This endpoint returns a summary for each extraction, listed in reverse chronological order. 
        To get details about an extraction, use the [Retrieve extraction by ID](ref:retrieving-results) endpoint.
        This endpoint uses keyset pagination to retrieve the next page of results.
        By default it returns a first page of 20 extractions and an opaque `continuation_token` that you can pass in the next request to get the next page of results, until the endpoint returns `continuation_token` to indicate the last page. 
        Use the `limit` parameter to configure page size. 

      parameters:
        - $ref: '#/components/parameters/start_date'
        - $ref: '#/components/parameters/end_date'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/continuation_token' 
        - $ref: '#/components/parameters/configuration_ids'
        - $ref: '#/components/parameters/document_type_ids'
        - $ref: '#/components/parameters/environments'
        - $ref: '#/components/parameters/statuses'
        - $ref: '#/components/parameters/min_coverage'
        - $ref: '#/components/parameters/max_coverage'
        - $ref: '#/components/parameters/review_statuses'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionsResponseFiltered'
          description: Returns list of summarized extractions.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'

  /extractions/statistics:
    get:
      operationId: statistics
      summary: Get extraction statistics
      tags:
      - Retrieve extractions
      description: |
        Returns daily extraction coverage statistics as a `coverage_histogram` per config. 
        Sensible returns coverage for each config that was used for at least one extraction performed in the production environment 
        in the specified time period. For more information about coverage, see [Monitoring extractions](metrics).
        For more information about the returned `coverage_histogram`, see the response model.
      parameters:
        - $ref: '#/components/parameters/start_date_config'
        - $ref: '#/components/parameters/end_date_config'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
          description: Returns daily statistics for configs in the specified time period.
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'










  /generate_excel/{ids}:
    get:
      operationId: get-excel-extraction
      summary: Get Excel extraction
      description: |
        You can use this endpoint to get Excel files from documents, for example from PDFs. In more detail, this endpoint converts your JSON document extraction to an Excel spreadsheet.
        To compile multiple documents into one Excel file, specify the IDs of their recent extractions in the request separated by commas, for example,
        `/generate_excel/867514cc-fce7-40eb-8e9d-e6ec48cdac34,5093c65f-05bd-46a3-8df7-da3ed00f6d35`.
        For the best compiled spreadsheet results, configure your SenseML so that the documents output identically named fields.
        For more information about the conversion process, see [SenseML to spreadsheet reference](doc:excel-reference).

        For portfolio extractions, Sensible returns an Excel file containing fields for all the documents it finds in the PDF. For more information, see [Multi-document spreadsheet](doc:excel-reference#multi-document-spreadsheet).

        For a list of document file types that Sensible can extract data from, see [Supported file types](doc:file-types).
        Call this endpoint after an extraction completes. For more information about checking extraction status,
        see the `GET /documents/{id}` endpoint.
      parameters:
        - $ref: '#/components/parameters/ids'
      tags:
      - Get Excel from documents
      responses:
        '200':
          description: |
            Indicates the extraction successfully converted to an Excel file. This response contains the download URL for the Excel file. The link
            expires after 15 minutes.
          content:
            application/json:
              schema:
                properties:
                  url:
                    type: string
                    format: url
                    description: The download URL for the Excel file
                    example: https://sensible-so-document-type-bucket-dev-us-west-2.s3.us-west-2.amazonaws.com/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/EXTRACTION/14d82783-c12b-4e70-b0ae-ca1ce35a9836.xlsx?REDACTED

        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'


  /generate_csv/{ids}:
    get:
      operationId: get-csv-extraction
      summary: Get CSV extraction
      description: |
        You can use this endpoint to get CSV files from documents, for example, from PDFs. In more detail, this endpoint converts your JSON document extraction to a comma-separated values.
        To compile multiple documents into one CSV file, specify the IDs of their recent extractions in the request separated by commas, for example,
        `/generate_csv/867514cc-fce7-40eb-8e9d-e6ec48cdac34,5093c65f-05bd-46a3-8df7-da3ed00f6d35`.
        For the best compiled spreadsheet results, configure your SenseML so that the documents output identically named fields.
        For more information about the conversion process, see [SenseML to spreadsheet reference](doc:excel-reference).
        For a list of document file types that Sensible can extract data from, see [Supported file types](doc:file-types).
        Call this endpoint after an extraction completes. For more information about checking extraction status,
        see the `GET /documents/{id}` endpoint.
      parameters:
        - $ref: '#/components/parameters/ids'
      tags:
      - Get Excel from documents
      responses:
        '200':
          description: |
            Indicates the extraction successfully converted to an CSV file. This response contains the download URL for the CSV file. The link
            expires after 15 minutes.
          content:
            application/json:
              schema:
                properties:
                  url:
                    type: string
                    format: url
                    description: The download URL for the CSV file
                    example: https://sensible-so-document-type-bucket-dev-us-west-2.s3.us-west-2.amazonaws.com/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/EXTRACTION/14d82783-c12b-4e70-b0ae-ca1ce35a9836.csv?REDACTED

        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'






components:

  responses:

    401:
      description: Not authorized
      content:
        text/plain:
          schema:
            title: Unauthorized
            type: string
            example: Unauthorized
    400:
      description: Bad Request
      content:
        text/plain:
          schema:
            title: Bad Request
            type: string
            example: >-
              Either a specific set of messages about fields in the request, or error messages like the following examples -
              Not available to logged in users
              To use the asynchronous flow you must have persistence enabled
              Specified document type does not exist
              Specified document type ${named type} does not exist
              No published configurations found for environment ${environment}
              Specified golden does not exist
              Specified configuration/version does not exist
              Specified configuration/version is not valid
              Must provide the Content-Type header when request body is present
              Content-Type must be application/json
              Missing request body or body.document
              Could not determine the content type of the document
              Could not determine the content type of the document. Please check that the document was correctly encoded as Base64
              This PDF is invalid. If you submitted this PDF using Base64 encoding, please check that the encoding is correct
              This PDF is password protected. Please resubmit with password protection disabled
              This PDF is empty
              This PDF exceeds the maximum dimensions for OCR of 17 x 17 inches
              This PDF exceeds the maximum size for OCR of 50MB
              No fingerprints match for this PDF and fingerprint_mode is set to strict
              Content type of ${found} does not match declared type of ${expected}
              Document is not present
              The start date must be before the end date

    415:
      description: Unsupported Media Type
      content:
        text/plain:
          schema:
            title: Unsupported Media Type
            type: string
            example: >-
              One of the following error messages -
              Content-Type must be application/json
              Content-Type must be application/json or application/pdf or image/jpeg or image/png or image/tiff
    429:
      description: Too Many Requests
      content:
        text/plain:
          schema:
            title: Unsupported Media Type
            type: string
            example: >-
              One of the following error messages -
              Attempt limit exceeded, please retry after some time.
              Free accounts are limited to 150 API calls per month. Please upgrade your account to make additional calls.
              Pro accounts are limited to 5,000 API calls per month. Please upgrade your account to make additional calls.
    500:
      description: Internal Server Error
      content:
        text/plain:
          schema:
            title: Sensible encountered an unknown error
            type: string
            example: Sensible encountered an unknown error
  parameters:
    id:
      name: id
      required: true
      in: path
      description: Unique ID for the extraction, used to retrieve the extraction.
      schema:
        $ref: '#/components/schemas/ExtractionId'
    ids:
      name: ids
      required: true
      in: path
      description: Comma-delimited list of unique extraction IDs.
      schema:
        $ref: '#/components/schemas/ExtractionId'


    document_type:
      name: document_type
      required: true
      in: path
      description: |
        Type of document to extract from. Create your custom type in the Sensible app (for example, `rate_confirmation`, `certificate_of_insurance`, or `home_inspection_report`).
        To quickly test this endpoint using the `Try It` button in this interactive explorer, use the `senseml_basics` tutorial document type with this [example document](https://github.com/sensible-hq/sensible-docs/raw/main/readme-sync/assets/v0/pdfs/1_extract_your_first_data.pdf).
        As a convenience, Sensible automatically detects the best-fit extraction from among the extraction queries ("configs") in the document type.
        For example, if you create an `auto_insurance_quotes` document type, you can add `carrier 1`, `carrier 2`, and `carrier 3` configs
        to the document type in the Sensible app. Sensible then automatically classifies each document by its carrier, so you can use the same document type for each carrier
        without specifying the carrier in the extraction request.
      schema:
        type: string
      example: senseml_basics

    config_name:
      name: config_name
      required: true
      in: path
      description: >-
        User-friendly name of the config to use to extract data from the document.
      schema:
        type: string
      example: anyco_insurance_auto_declarations

    document_name:
      name: document_name
      in: query
      description: >-
        If you specify the filename of the document using this parameter, then Sensible returns the filename in the extraction response.
      schema:
        type: string
      example: test.pdf

    environment:
      name: environment
      in: query
      description: >-
        If you specify `development`, extracts preferentially using config versions
        published to the development environment in the Sensible app. The extraction runs all configs in the doc type before
        picking the best fit. For each config, falls back to production version if no development version of the config exists.
      schema:
        type: string
        enum: [production, development]
        default: production


    start_date:
      name: start_date
      in: query
      required: false
      description: >-
         Retrieves extractions with a `created` date that is equal to or later than this date-time.
         The default is the unix epoch. 
      schema:
        type: string
        format: date-time
        default: 1970-01-01T00:00:00Z
      example: 2020-10-10T00:00:00.000Z


    end_date:
      name: end_date
      in: query
      required: false
      description: >-
         Retrieves extractions with a `created` date that is equal to or earlier than this date-time.
         The default is the current date-time.
      schema:
        type: string
        format: date-time
      example: 2024-01-20T00:00:00.000Z


    page_limit:
      name: limit
      in: query
      required: false
      description: >-
         Use the limit to define the number of items you recieve on each page of the paginated response.
         The default is 20.
      schema:
        type: number
        default: 20
      example: 100

    continuation_token:
      name: continuation_token
      in: query
      required: false
      description: >-
         Get the next page of results by making a new request and passing the opaque `continuation_token` parameter 
         that Sensible returns in the current page of responses.
         Sensible returns a null `continuation_token` in the response to indicate the last page.
      schema:
        type: string
      example: eyJpZCI6IjRiNTg1Mjc4LWUwOWMtNGJiOS04ODJiLThmYjFhZTA3ZGU3ZiIsInVzZXIiOiJjMDI0Y2QxYy01ZMMzLTRhODItYjJlYS0yYzgwN2U0NDk4OGIiLCJjcmVhdGVkIjoiMjAyNC0wNS0wMVQyMjo11Do1NS43MzMaIn1 


    start_date_config:
      name: start_date
      in: query
      required: true
      description: >-
         Retrieves statistics for configs used in production on this day and later.
         Sensible returns daily statistics, so if you specify a time in addition to a date, Sensible ignores the time.
      schema:
        type: string
        format: date-time
      example: 2020-10-10T00:00:00.000Z


    end_date_config:
      name: end_date
      in: query
      required: true
      description: >-
        Retrieves daily statistics for configs used in production on this day and earlier.
      schema:
        type: string
        format: date-time
      example: 2020-10-20T00:00:00.000Z


    document_type_ids:
      name: document_type_ids
      in: query
      description: >-
        Comma-delimited list of document types by which to filter the retrieved extractions.
      schema:
        type: string
      example: 4e95e3d0-8d69-49b0-9501-2cca8b902a45, 24d82783-b12b-4e70-b0ae-ca1ce35a9836


    configuration_ids:
      name: configuration_ids
      in: query
      description: >-
        Comma-delimited list of configurations by which to filter the retrieved extractions.
      schema:
        type: string
      example: 1417523c-f318-4037-90e9-ed7ade06031d,23be500b-4b7f-43dd-b0db-f06ec5c6c8de


    statuses:
      name: statuses
      in: query
      description: >-
         Comma-delimited list of statuses (WAITING, PROCESSING, FAILED, COMPLETE) by which to filter the retrieved extractions.
      schema:
        type: string
      example: COMPLETE,WAITING

    min_coverage:
      name: min_coverage
      in: query
      description: >-
         Minimum extraction coverage score by which to filter the retrieved extractions. For more information about scoring, see [Monitoring extractions](doc:metrics).
      schema:
        type: number
      example: 0.8

    max_coverage:
      name: max_coverage
      in: query
      description: >-
         Maximum extraction coverage score by which to filter the retrieved extractions. For more information about scoring, see [Monitoring extractions](doc:metrics).
      schema:
        type: number
      example: 1.0

    review_statuses:
      name: review_statuses
      in: query
      description: >-
         Comma-delimited list of review statuses (APPROVED, NEEDS_REVIEW, REJECTED) by which to filter the retrieved extractions. For more information, see [Reviewing extractions](doc:human-review).
         Sensible returns [portfolio](doc:portfolio) extractions if at least one document in the portfolio meets the specified status criteria. 
      schema:
        type: string
      example: APPROVED,NEEDS_REVIEW




    environments:
      name: environments
      in: query
      description: >-
         Comma-delimited list of environments (PRODUCTION, DEVELOPMENT) by which to filter the retrieved extractions.
      schema:
        type: string
      example: PRODUCTION,DEVELOPMENT


  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      description: >-
        Sensible uses API keys to authenticate requests.
        Keep your API keys secure and do not share them publicly accessible areas such as GitHub, client-side code, etc.
        Authentication to the API is performed via Bearer Authentication. Provide your API key as the bearer auth value.

  schemas:

    Coverage:
      type: number
      description: The coverage score measures how fully an extraction captured all your target data in the document. It's a percentage comparing non-null, [validated](doc:validate-extractions) fields to total fields returned by a config for a document. For example, a coverage score of 70% for an extraction with no validation errors means that 30% of fields were null. For more information about scoring, see [Monitoring extractions](doc:metrics).
      example: 0.75
    Environment:
      type: string
      description: >-
        The environment in which the version of the config used to run the extraction was published.
      example: DEVELOPMENT


    ExtractionSingleResponse: #single doc extraction
      allOf:
        - $ref: '#/components/schemas/ExtractionSingleBase'
        - $ref: '#/components/schemas/ExtractionContent'
        - type: object
          properties:
            completed:
              $ref: '#/components/schemas/ExtractionCompleted'
            classification_summary:
              $ref: '#/components/schemas/ClassificationSummary'
            page_count:
              type: integer
              example: 100
              description: Total number of pages in the document.
            environment:
              $ref: '#/components/schemas/EnvironmentName'
            document_name:
              $ref: '#/components/schemas/DocName'  
            coverage:
              $ref: '#/components/schemas/Coverage'

    DocName:
      type: string
      description: >-
        If you specify the filename of the document using the `document_name` parameter, then 
        Sensible displays the name in extraction history in the Sensible app 
        and returns the name in the extraction response.
      example: example.pdf

    StatisticsResponse:
      type: object
      properties:
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/ConfigStats'

    ConfigStats:
      type: object
      properties:
        date:
          type: string
          format: date
          description: The day for which Sensible gets statistics for this config.
        configuration_id:
          $ref: '#/components/schemas/ConfigurationId'
        configuration_name:
          $ref: '#/components/schemas/ConfigurationName'
        document_type_id:
          $ref: '#/components/schemas/DocumentTypeId'
        document_type_name:
          $ref: '#/components/schemas/DocumentTypeName'
        coverage_histogram:
          description: |
            Array of numbers that describe the number of extractions that fell into each coverage bucket for the `date` for this config.
            The buckets are as follows:

            - [0, 10)
            - [10, 20)
            - [20, 30)
            - [30, 40)
            - [40, 50)
            - [50, 60)
            - [60, 70)
            - [70, 80)
            - [80, 90)
            - [90, 95)
            - [95, 100)
            - [100]

            `[` denotes inclusive and `)` denotes exclusive.
            For example, when this endpoint returns `"coverage_histogram":[7,5,3,3,2,1,1,4,7,9,13,15]` , the first and last items in the array show that on specified date for the specified config, 7 extractions scored in the lowest bucket of 0-10%, and 15 scored in the highest bucket of 100%.
             For more information about extraction coverage scores, see [Monitoring extractions](doc:metrics).
             From the payload returned by this endpoint, you can calculate other metrics, for example:
              - total number of extractions in a time period
              - doc type and config usage
          type: array
          example: [1,3,5,4,6,5,3,7,8,2,4,9]
          items:
             type: integer
             maxItems: 12
             minItems: 12

    ExtractionsResponseFiltered:
      type: object
      properties:
        extractions:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/SingleExtractionSummaryResponse'
              - $ref: '#/components/schemas/MultiExtractionSummaryResponse'

        cutoff_date:
            type: string
            format: date-time
            example: null
            description: >-
              DEPRECATED. The `continuation_token` and `limit` parameters replace this parameter. 
              DESCRIPTION: Pass the cutoff_date parameter in the next request as the `end_date` parameter to retrieve the next page of extractions.
              Note that since Sensible applies the date range filters before all other filters, the `cutoff_date` can represent 
              the date-time of an extraction that Sensible retrieved using the date range filter, and then removed using other filters.




    SingleExtractionSummaryResponse:
      allOf:
        - $ref: '#/components/schemas/ExtractionResponseBase'
      properties:
        type:
          $ref: '#/components/schemas/DocumentTypeName'
        configuration:
          $ref: '#/components/schemas/ConfigurationName'
        errors:
          $ref: '#/components/schemas/Errors'
        validations:
          $ref: '#/components/schemas/Validations'






    MultiExtractionSummaryResponse:
      allOf:
        - $ref: '#/components/schemas/ExtractionResponseBase'
      properties:
        types:
          $ref: '#/components/schemas/DocumentTypeNames'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/MultiExtractionSummaryDocument'


    # deprecated:
    ExtractionSingleRetrievalResponse: # through /documents/{id} endpoint
      allOf:
        - $ref: '#/components/schemas/ExtractionSingleResponse'
        - type: object
          properties:
            download_url:
              $ref: '#/components/schemas/DownloadUrlDocument'

    # deprecated:
    ExtractionPortfolioRetrievalResponse:
      allOf:
        - $ref: '#/components/schemas/PortfolioBase'
        - type: object
          properties:
            completed:
              $ref: '#/components/schemas/ExtractionCompleted'
            page_count:
              type: integer
              example: 100
              description: Total number of pages in the portfolio.
            environment:
              $ref: '#/components/schemas/EnvironmentName'
            document_name:
              $ref: '#/components/schemas/DocName'
            download_url:
              $ref: '#/components/schemas/DownloadUrlDocument'
            documents:
              type: array
              items:
                $ref: '#/components/schemas/DocumentInPortfolio'
            coverage:
              $ref: '#/components/schemas/Coverage'

    ExtractFromUrlResponse:
      allOf:
        - $ref: '#/components/schemas/ExtractionSingleBase'
        - type: object
          properties:
            environment:
              $ref: '#/components/schemas/EnvironmentName'
            document_name:
              $ref: '#/components/schemas/DocName'
            errors:
              $ref: '#/components/schemas/Errors'



    UploadResponse:
      allOf:
        - $ref: '#/components/schemas/ExtractionSingleBase'
        - type: object
          properties:
            upload_url:
              type: string
              format: url
              description: URL at which to PUT the PDF bytes array for extraction. for example, curl -T ./sample.pdf "YOUR_UPLOAD_URL"
              example: https://sensible-so-utility-bucket-prod-us-west-2.s3.us-west-2.amazonaws.com/EXTRACTION_UPLOAD/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/EXTRACTION/14d82783-c12b-4e70-b0ae-ca1ce35a9836.pdf?AWSAccessKeyId=REDACTED&Expires=1623861476&Signature=REDACTED&x-amz-security-token=REDACTED


    ExtractFromUrlPortfolioResponse:
      allOf:
        - $ref: '#/components/schemas/PortfolioBase'
        - type: object
          properties:
            types:
              $ref: '#/components/schemas/DocumentTypeNames'


    UploadPortfolioResponse:
      allOf:
        - $ref: '#/components/schemas/PortfolioBase'
        - type: object
          properties:
            upload_url:
              type: string
              format: url
              description: URL at which to PUT the PDF bytes array for extraction. for example, curl -T ./sample.pdf "YOUR_UPLOAD_URL"
              example: https://sensible-so-utility-bucket-prod-us-west-2.s3.us-west-2.amazonaws.com/EXTRACTION_UPLOAD/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/EXTRACTION/14d82783-c12b-4e70-b0ae-ca1ce35a9836.pdf?AWSAccessKeyId=REDACTED&Expires=1623861476&Signature=REDACTED&x-amz-security-token=REDACTED

    # used by  /extractions/ endpoints
    ExtractionResponseBase:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ExtractionId'
        created:
          $ref: '#/components/schemas/ExtractionCreated'
        completed:
          $ref: '#/components/schemas/ExtractionCompleted'
        status:
         $ref: '#/components/schemas/ExtractionStatus'
        validation_summary:
         $ref: '#/components/schemas/ValidationsSummary'
        page_count:
          type: integer
          example: 100
          description: Total number of pages in the document.
        document_name:
         $ref: '#/components/schemas/DocName'
        environment:
         $ref: '#/components/schemas/Environment'
        coverage:
          $ref: '#/components/schemas/Coverage'


    # deprecated?
    ExtractionSingleBase:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ExtractionId'
        created:
          $ref: '#/components/schemas/ExtractionCreated'
        type:
         $ref: '#/components/schemas/DocumentTypeName'
        status:
         $ref: '#/components/schemas/ExtractionStatus'

    ExtractionContent: #         created:
          #$ref: '#/components/schemas/ExtractionCreated'
      type: object
      properties:
        configuration:
          $ref: '#/components/schemas/ConfigurationName'
        parsed_document:
          $ref: '#/components/schemas/ParsedDocument'
        validations:
          $ref: '#/components/schemas/Validations'
        file_metadata:
          $ref: '#/components/schemas/FileMetadata'
        validation_summary:
          $ref: '#/components/schemas/ValidationsSummary'
        errors:
           $ref: '#/components/schemas/Errors'


    PortfolioBase:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ExtractionId'
        created:
          $ref: '#/components/schemas/ExtractionCreated'
        status:
         $ref: '#/components/schemas/ExtractionStatus'




    ExtractionContentPortfolio: # portfolio extraction
      allOf:
        - $ref: '#/components/schemas/ExtractionContent'
        - type: object
          properties:
            classification_summary:
              $ref: '#/components/schemas/ClassificationSummaryPortfolio'



    MultiExtractionSummaryDocument:
      type: object
      properties:
        documentType:
          $ref: '#/components/schemas/DocumentTypeName'
        configuration:
          $ref: '#/components/schemas/ConfigurationName'
        startPage:
          type: integer
          description: Page in the portfolio on which the document for this extraction starts.
          example: 2
        endPage:
          type: integer
          description: Page in the portfolio on which this document for this extraction ends.
          example: 6
        output:
          type: object
          properties:
            errors:
              $ref: '#/components/schemas/Errors'
            validations:
              $ref: '#/components/schemas/Validations'

    DocumentInPortfolio:
      type: object
      properties:
        documentType:
          $ref: '#/components/schemas/DocumentTypeName'
        configuration:
          $ref: '#/components/schemas/ConfigurationName'
        startPage:
          type: integer
          description: Page in the portfolio on which the document for this extraction starts.
          example: 2
        endPage:
          type: integer
          description: Page in the portfolio on which this document for this extraction ends.
          example: 6
        output:
          $ref: '#/components/schemas/ExtractionContentPortfolio'


    GenerateUrlRequest:
      type: object
      properties:
        webhook:
          $ref: '#/components/schemas/Webhook'
        content_type:
          $ref: '#/components/schemas/ContentTypeParameter'

    ExtractFromUrlRequest:
      type: object
      properties:
        webhook:
          $ref: '#/components/schemas/Webhook'
        document_url:
          $ref: '#/components/schemas/DocumentUrl'
        content_type:
          $ref: '#/components/schemas/ContentTypeParameter'
      required:
        - document_url





    EnvironmentName:
      description: Name of the environment to which the configuration used by this extraction was published.
      example: development
      type: string



    Classification:
      type: object
      properties:
        configuration:
          $ref: '#/components/schemas/ConfigurationName'
        fingerprints_present:
          type: integer
          example: 1
          description: The number of this config's fingerprints that Sensible found in the document.
        fingerprints:
          type: integer
          example: 1
          description: The number of fingerprints defined in this config.
        score:
          $ref: '#/components/schemas/Score'


    ConfigurationName:
      type: string
      description: >-
        Name of the "configuration", a collection of SenseML queries for extracting document data.
      example: config_for_x_company

    ConfigurationId:
      type: string
      format: uuid
      description: >-
        ID of the "configuration", a collection of SenseML queries for extracting document data.
      example: 24d82783-c12b-4e70-b0ae-ca1ce35a98

    DocumentTypeName:
      description: Unique user-friendly name for a document type
      example: auto_insurance_quotes_all_carriers
      type: string

    DocumentTypeId:
      description: Unique user-friendly name for a document type
      type: string
      format: uuid
      example: 11c82772-a12c-1e71-c0a1-1f1ce35bc7


    ClassificationSummary:
      type: array
      description:  >-
            Metadata about how Sensible scores configs against the document to extract from.
            By default, Sensible compares all configs in the document type, then chooses the best extraction using
            fingerprints, scores, or a combination of the two.
            When two extractions tie by score and fingerprints, Sensible chooses the
            first configuration in alphabetic order.
            For more information, see [fingerprints](https://docs.sensible.so/docs/fingerprint#notes).
      items:
        $ref: '#/components/schemas/Classification'
      example:
        - configuration: config_for_x_company
          fingerprints: 2
          fingerprints_present: 2
          score:
            value: 3
            fields_present: 4
            penalities: 0.5
        - configuration: acme_co
          fingerprints: 2
          fingerprints_present: 2
          score:
            value: 0
            fields_present: 2
            penalities: 1.5

    ClassificationSummaryPortfolio:
      type: array
      description:  >-
            Metadata about how Sensible chose the config to use for this extraction.
            The summary doesn't return fingerprints information for portfolio extractions.
      items:
        $ref: '#/components/schemas/ClassificationPortfolio'
      example:
        - configuration: config_for_x_company
          score:
            value: 3
            fields_present: 4
            penalities: 0.5
        - configuration: acme_co
          score:
            value: 0
            fields_present: 2
            penalities: 1.5

    ClassificationPortfolio:
      type: object
      properties:
        configuration:
          $ref: '#/components/schemas/ConfigurationName'
        score:
          $ref: '#/components/schemas/Score'


    FileMetadata:
      type: object
      description:  >-
        Metadata about the PDF file, for example author, authoring tool, and modified date.
      properties:
        metadata:
          type: object
          description: Raw metadata embedded in the PDF. Returned if available, without data normalization.
        error:
          type: string
          description: Errors Sensible encountered when attempting to retrieve metadata
          example: "Error retrieving PDF metadata: Invalid PDF structure"
        info:
          type: object
          description: Normalized metadata about the PDF, returned if available.
          properties:
            author:
              type: string
              description: The name of the person who created the document.
              example: Jay S. Schiller
            title:
              type: string
              description: Title assigned to the PDF by the PDF producer.
              example: file123
            creator:
              type: string
              description: If the document was converted to PDF from another format, the name of the application that created the original document from which it was converted.
              example:  macOS Version 11.2 (Build 20D64) Quartz PDFContext
            producer:
              type: string
              description: If the document was converted to PDF from another format, the name of the application that converted it to PDF
              example: Preview
            creation_date:
              type: string
              description: File creation date
              example: 2022-08-02T18:09:31.000+00:00
            modification_date:
              type: string
              description: File modification date
              example: 2022-08-03T15:09:23.000+00:00
            error:
              type: string
              description: Errors Sensible encountered when attempting to retrieve metadata.

    Score:
      type: object
      description: The score for the extraction, used to help choose the best extraction.
      properties:
        value:
          type: number
          example: 17
          description: The score total is fields_present minus penalty points. In the absence of fingerprints, Sensible returns the extraction in the document type with the highest score.
        fields_present:
          type: integer
          example: 17
          description: Number of non-null fields Sensible extracted from the document using this config
        penalties:
          type: number
          example: 1.5
          description: Errors are 1 penalty point and warnings are 0.5 points. See the validation_summary for a breakdown.

    ParsedDocument:
      description: |
        Data extracted from the document, structured as an array of fields.
        Configure the verbosity parameter in the SenseML configuration to return
        extraction metadata, such as:
        - page numbers
        - the bounding polygons that
        define line coordinates
        - for text that Sensible OCR'd, confidence scores.
        For more information, see [Verbosity](doc:verbosity).
      type: object
      example:
        policy_number:
          type: number
          value: 123456789
          lines:
          - text: '123456789'
            page: 0
            boundingPolygon:
            - x: 6.458
              y: 2.601
            - x: 7.354
              y: 2.601
            - x: 7.354
              y: 2.767
            - x: 6.458
              y: 2.767
        name_insured:
          type: string
          value: Petar Petrov
          lines:
          - text: Petar Petrov
            page: 0
            boundingPolygon:
            - x: 1
              y: 5.515
            - x: 1.935
              y: 5.515
            - x: 1.935
              y: 5.674
            - x: 1
              y: 5.674

    Validation:
      type: object
      properties:
        description:
          type: string
          description: Description of the validation
          example: Dollar amount should be more than $100
        severity:
          type: string
          enum: [error, warning, skipped]
          example: warning
          description: Severity of the failing validation (error, warning, skipped)
        message:
          type: string
          description: Messages about why the validation failed
          example: >-
            Missing prerequisites: broker.email

    Validations:
      description: Which extracted fields failed validation rules you write in the Sensible app
      type: array
      items:
        $ref: '#/components/schemas/Validation'
      example:
        - description: Policy number must be 11 digits
          severity: error
        - description: Company email must be in format string@string
          severity: skipped
          message: Missing prerequisites - company_email

    ValidationsSummary:
      type: object
      description: Summary of the extracted fields that fail validation rules you write in the Sensible app.
      properties:
        fields:
          type: integer
          description: Number of fields specified in the SenseML config to extract from the document
          example: 6
        fields_present:
          type: integer
          description: Actual number of non-null fields extracted from the document
          example: 4
        errors:
          type: number
          description: Number of validation errors in the extraction
          example: 0
        warnings:
          type: number
          description: Number of validation warnings in the extraction
          example: 1
        skipped:
          type: integer
          description: Number of fields skipped in the extraction because a prerequisite field was null
          example: 1

    Errors:
      type: array
      description: Extraction error messages.
      items:
        $ref: '#/components/schemas/ExtractionError'

    ExtractionError:
      type: object
      description: Extraction error message
      properties:
        field_id:
          type: string
          description: ID of the extracted field.
          example: phone_number
        message:
          type: string
          description: Description of the error
          example: "ConfigurationError: width <=0"
        # todo: doc more on types?
        type:
          type: string
          description: Error type
          example: configuration


    DownloadUrlDocument:
      type: string
      description: URL of the document extraction
      example: https://sensible-so-document-type-bucket-dev-us-west-2.s3.us-west-2.amazonaws.com/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/EXTRACTION/246a6f60-0e5b-11eb-b720-295a6fba723e.pdf?AWSAccessKeyId=REDACTED


    ExtractionId:
      type: string
      format: uuid
      description: Unique ID for the extraction, used to retrieve the extraction
      example: 246a6f60-0e5b-11eb-b720-295a6fba723e

    ExtractionCreated:
      type: string
      format: date-time
      example: 2022-10-31T16:27:53.433
      description: Date and time Sensible created the initial empty extraction and set its status to WAITING.

    ExtractionCompleted:
      type: string
      format: date-time
      example: 2022-10-31T16:27:53.741Z
      description: Date and time Sensible set the extraction's status to COMPLETED

    ExtractionStatus:
      type: string
      description: | 
         Status of the extraction:
         - WAITING: Sensible created an initial empty extraction and is waiting for the document.
         - PROCESSING: Sensible received the document and is extracting data.
         - FAILED: The extraction failed.
         - COMPLETE: The extraction is complete.
      enum: [WAITING, PROCESSING, COMPLETE, FAILED]
      example: COMPLETE
    DocumentTypeNames:
      type: array
      description: Specifies the document types contained in the PDF portfolio.
      items:
        type: string
        example: [tax_returns, bank_statements, credit_reports]
    Webhook:
      type: object
      description: >-
        Specifies to return extraction results to the defined webhook as soon as they're complete,
        so you don't have to poll for results status. Sensible also calls this webhook on error.
      properties:
        url:
          type: string
          format: url
          description: Webhook destination. Sensible will POST to this URL when the extraction is complete.
          example: https://example.com/example_webhook_url
        payload:
          type: string
          description: Information additional to the API response, for example a UUID for verification. Can be any of the following types - [string, number, boolean, array, object].
          # todo, update to 3.1 openapi spec so can specify `type: [string, number, boolean, array, object]` instead of type: string
          example: info extra to the default extraction payload
    DocumentUrl:
      type: string
      format: url
      description:  >-
        URL that responds to a GET request with the bytes of the document you want to extract data from.
        This URL must be either publicly accessible, or presigned with a security token as part of the URL path.
        To check if the URL meets these criteria, open the URL with a web browser.
        The browser must either render the document as a full-page view with no other data, or download the document, without prompting for authentication.
      example: https://github.com/sensible-hq/sensible-docs/raw/main/readme-sync/assets/v0/pdfs/auto_insurance_anyco.pdf
    ContentTypeParameter:
      type: string
      enum: ["application/pdf", "image/jpeg", "image/png", "image/tiff", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]

      # If you use this parameter with the `/generate_upload_url` endpoint (recommended), you must also use it in the subsequent PUT call to upload the file.
      description: >-
        Content type of the document being presented for extraction.


    encodedPdf:
      type: object
      required:
        - document
      properties:
        document:
          type: string
          description: |
            This parameter shows option \#2 for posting PDF bytes. To populate it, you can encode a document, like this [example](https://github.com/sensible-hq/sensible-docs/raw/main/readme-sync/assets/v0/pdfs/1_extract_your_first_data.pdf) using a free online PDF-to-base64 encoder and paste the resulting bytes into this parameter, or you can right-click this parameter field and select **Use Example Value**.
          example: JVBERi0xLjcKCjEgMCBvYmoKICA8PCAvVHlwZSAvWE9iamVjdAogICAgIC9TdWJ0eXBlIC9JbWFnZQogICAgIC9CaXRzUGVyQ29tcG9uZW50IDgKICAgICAvTGVuZ3RoIDIgMCBSCiAgICAgL0hlaWdodCAzNgogICAgIC9XaWR0aCAzNgogICAgIC9Db2xvclNwYWNlIC9EZXZpY2VHcmF5CiAgICAgL0ZpbHRlciBbIC9GbGF0ZURlY29kZSBdCiAgPj4Kc3RyZWFtCngB5c49S8NAHAbw64v4kqSoKK4KgksLnVwEkYpbB8noIIIgKLjo0KEuAUHQRVzESYvgZJBGqdLBIAgOLorgoCIOMRAKWoISsDbxUaOXF9MPYH/DXe55wt2fkDrS3hXCWktT6liOY6+hLVO2rPXgiyI9I2uaBbkoTn/gEgsnqo4fYBpnv2b+1O4ty8zHkPitGCi/mDfZVga4GMcxTCO6b5FZlLaStCmK4q4oFQqSKObGw+g/JRSUNtPEQr3zpEVYnUwlt3EIMkHGMKmhvuE7QHmIvcLmVS096fqzpt5fn+WXhsnACzKvihCKRn9GJWTGPaBNQUNtIPE7R0MdIPF5HUVDHSLy0frQUFuIfPQ0Gmq+iszrrhMNNWgg8zDmUDh0PCD0uI2jcJqqIHUrNiB3Ci3ryuV+ZvHi99FHHrEb29/LRki4O53dOZLl4p6Q9F7zX30A86Wn2gplbmRzdHJlYW0KZW5kb2JqCgoyIDAgb2JqCiAgMzQyCmVuZG9iagoKMyAwIG9iagogIDw8IC9UeXBlIC9YT2JqZWN0CiAgICAgL1N1YnR5cGUgL0ltYWdlCiAgICAgL0JpdHNQZXJDb21wb25lbnQgOAogICAgIC9MZW5ndGggNCAwIFIKICAgICAvSGVpZ2h0IDM2CiAgICAgL1NNYXNrIDEgMCBSCiAgICAgL1dpZHRoIDM2CiAgICAgL0NvbG9yU3BhY2UgL0RldmljZVJHQgogICAgIC9GaWx0ZXIgWyAvRmxhdGVEZWNvZGUgXQogID4+CnN0cmVhbQp4Ae1Ua0yTZxTun23Sj3ZAQLzNS71XQEHwrqBzKorinenuOp26bHFm18xtzeLmdHMx2zLmppg51M1uAzGgTNtCpZTSst5b5iUYwQ0EpHJrS9vv7Hm/+nNbapw/THjy5OTty8c55znnvEck6kc/HnjcPiVtOcER4XgfQQ0jvaq0vsqpXnXy9cOxuLlP8Bx/1K9J5g2zqXYemRY0HY3/f6XRKVFHSaKndJRPJQ/oplPtXKp7nH5f3HtB7v5EqskS3Ttai+P9pTJ/+fheldxfmcrrZ/LGLDJm8sbMUM1sFLAhP9bwlhhf3gsaTw3rOivzqiYFqzJC+lm8YW7IMIc3zAlWzwho07yqJE/R8IZ8qfEdcc0rcfj+XuApHuJVyUOG2ZDA/FelBy5O9WlSbpeMaC6Mv/S51PIBp9sl1uwUUXki2HyMWdShvSyOquJxwE/GsjHw9m9Aa9qUCT3l46CCr50X0s8MVGX0VaZ2nx1z69ehN08O+uuHwc2FUC2Hap8qiVGd4lMn+WE1Kb6KFFQ7cDE9oE0PVKb1qZO6y0YrFKJ/ROMhrl05GHUj03wyYQCeIMsS3prD21bzllzenMNbcsiygqzLecsysuIA5pJtFdnWkH0dOdaTI48cTwo2j+xr/JXpHcqB8HyjZHBLYUzriZibJ+Oajz3adJRrOirt+W0CG2nEMi8m5nA5OdaQcwM5N5LzKXJsFJysZf4tS9kHoDWHbCvJCuYKXMH+VLcIqXor0q4fkSBW77mxnSUjPacfu/ULgsaBXWWjQ5hqYyZZssm+ivl05rEQzmfJ+TQ7IHPLUgxkUD/Lp072XmA19Gsm+yum+CtSvZrJXnUKhqf3vLynfILn9Khr+TH2vQPIkdWnTcOkBXXT0Hp8jL4E9TPIlEXWZUwL8gfh3/kcOV+4Ew43tly0svOM7PLB6Pr94j8OcOAlwdaDn7Eb974B7r1Rjo+jat/nIIqM83k8SfMSMmezOpiXMu2ojH01OcKVX8ssSud6nlwv3qFzEwtqW9VTPqnxWymWhkbBSArRf4DMi1iRUaWwZ5Z/mBuE5q5DZ9kBWlybyL2V3NsEbiXXFsgMGRe2KYfATyQgWzbSY7HskIByhUOEiRsksIEpckLUFnK/xIiDC/VE1/JCxgWtykHwEwmESUP1coTSrUQXyIZDrjASUITBExrkfIZcm8kVloN+IY21vDm7++z4G4fZgEWC8GvlazMFzsOKAFkCdQsxq6yPSACqIRNC2HiAkCxMi219R5Gsft8j8BMJQtUzgrrpsKHq6ZjzkG4aO+tnMtaAbA0KcdkzYRbPjSWwnNXcvr7r3MRLByNdvD5NEtszauyZSb4Lcli/JgWrFZMf0E7FKwjqMlh0Ia5gWRp8zVyERrPalMMuF0TDTyTwlo/1nBneeWaEp3hYR9FQT9HQzpLhPefGes9PRA6gED3Zz1bcFMaKyVh3fdrUgC6jo1h29Sv2cCJEp2Zcy/HY5sKYP7+XNh6Ovv4d11QgaSmMbVcmIi6Wye0SZDKyq3RUd6kM+6SrTNYlHLBOmwpiXR89DCeR48rXYvenUfUHotz72Ru3fhhlUUTV7cbDFzcekSCN1h/jEfrWz4ntyoFtPyXgJ2xTgRRrwXQIDu4O+jc53c5o7asS7cuSiu0SzXaJaptU/1q06V2xfY8YC+fKF1xDfjR47RB37Rvu6pdixx6xZXcU/vduodmRoNos1ewAE2gdLkQKJLBzAELrdkVX7+IMr3PGtznTbs6iEEO1+T2x+Y2HTFtF/ejHA4e/AWN1tu0KZW5kc3RyZWFtCmVuZG9iagoKNCAwIG9iagogIDEzMzgKZW5kb2JqCgo1IDAgb2JqCiAgPDwgL1R5cGUgL1hPYmplY3QKICAgICAvU3VidHlwZSAvSW1hZ2UKICAgICAvQml0c1BlckNvbXBvbmVudCA4CiAgICAgL0xlbmd0aCA2IDAgUgogICAgIC9IZWlnaHQgMzYKICAgICAvV2lkdGggMzYKICAgICAvQ29sb3JTcGFjZSAvRGV2aWNlR3JheQogICAgIC9GaWx0ZXIgWyAvRmxhdGVEZWNvZGUgXQogID4+CnN0cmVhbQp4AeXOPUvDQBwG8OuL+JKkqCiuCoJLC51cBJGKWwfJ6CCCICi46NChLgFB0EVcxEmL4GSQRqnSwSAIDi6K4KAiDjEQClqCErA28VGjlxfTD2B/w13uecLdn5A60t4VwlpLU+pYjmOvoS1Ttqz14IsiPSNrmgW5KE5/4BILJ6qOH2AaZ79m/tTuLcvMx5D4rRgov5g32VYGuBjHMUwjum+RWZS2krQpiuKuKBUKkijmxsPoPyUUlDbTxEK986RFWJ1MJbdxCDJBxjCpob7hO0B5iL3C5lUtPen6s6beX5/ll4bJwAsyr4oQikZ/RiVkxj2gTUFDbSDxO0dDHSDxeR1FQx0i8tH60FBbiHz0NBpqvorM664TDTVoIPMw5lA4dDwg9LiNo3CaqiB1KzYgdwot68rlfmbx4vfRRx6xG9vfy0ZIuDud3TmS5eKekPRe8199APOlp9oKZW5kc3RyZWFtCmVuZG9iagoKNiAwIG9iagogIDM0MgplbmRvYmoKCjcgMCBvYmoKICA8PCAvVHlwZSAvWE9iamVjdAogICAgIC9TdWJ0eXBlIC9JbWFnZQogICAgIC9CaXRzUGVyQ29tcG9uZW50IDgKICAgICAvTGVuZ3RoIDggMCBSCiAgICAgL0hlaWdodCAzNgogICAgIC9TTWFzayA1IDAgUgogICAgIC9XaWR0aCAzNgogICAgIC9Db2xvclNwYWNlIC9EZXZpY2VSR0IKICAgICAvRmlsdGVyIFsgL0ZsYXRlRGVjb2RlIF0KICA+PgpzdHJlYW0KeAHtVGtMk2cU7p9t0o92QEC8zUu9V0BB8K6gcyqK4p3p7jqdumxxZtfMbc3i5nRzMdsy5qaYOdTNbgMxoEzbQqWU0rLeW+YlGMENBKRya0vb7+x5v/pzW2qcP0x48uTk7cvHOec557xHJOpHPx543D4lbTnBEeF4H0ENI72qtL7KqV518vXDsbi5T/Acf9SvSeYNs6l2HpkWNB2N/3+l0SlRR0mip3SUTyUP6KZT7Vyqe5x+X9x7Qe7+RKrJEt07Wovj/aUyf/n4XpXcX5nK62fyxiwyZvLGzFDNbBSwIT/W8JYYX94LGk8N6zor86omBasyQvpZvGFuyDCHN8wJVs8IaNO8qiRP0fCGfKnxHXHNK3H4/l7gKR7iVclDhtmQwPxXpQcuTvVpUm6XjGgujL/0udTyAafbJdbsFFF5Ith8jFnUob0sjqriccBPxrIx8PZvQGvalAk95eOggq+dF9LPDFRl9FWmdp8dc+vXoTdPDvrrh8HNhVAth2qfKolRneJTJ/lhNSm+ihRUO3AxPaBND1Sm9amTustGKxSif0TjIa5dORh1I9N8MmEAniDLEt6aw9tW85Zc3pzDW3LIsoKsy3nLMrLiAOaSbRXZ1pB9HTnWkyOPHE8KNo/sa/yV6R3KgfB8o2RwS2FM64mYmyfjmo892nSUazoq7fltAhtpxDIvJuZwOTnWkHMDOTeS8ylybBScrGX+LUvZB6A1h2wryQrmClzB/lS3CKl6K9KuH5EgVu+5sZ0lIz2nH7v1C4LGgV1lo0OYamMmWbLJvor5dOaxEM5nyfk0OyBzy1IMZFA/y6dO9l5gNfRrJvsrpvgrUr2ayV51Coan97y8p3yC5/Soa/kx9r0DyJHVp03DpAV109B6fIy+BPUzyJRF1mVMC/IH4d/5HDlfuBMON7ZctLLzjOzywej6/eI/DnDgJcHWg5+xG/e+Ae69UY6Po2rf5yCKjPN5PEnzEjJnszqYlzLtqIx9NTnClV/LLErnep5cL96hcxMLalvVUz6p8VsploZGwUgK0X+AzItYkVGlsGeWf5gbhOauQ2fZAVpcm8i9ldzbBG4l1xbIDBkXtimHwE8kIFs20mOx7JCAcoVDhIkbJLCBKXJC1BZyv8SIgwv1RNfyQsYFrcpB8BMJhElD9XKE0q1EF8iGQ64wElCEwRMa5HyGXJvJFZaDfiGNtbw5u/vs+BuH2YBFgvBr5WszBc7DigBZAnULMausj0gAqiETQth4gJAsTIttfUeRrH7fI/ATCULVM4K66bCh6umY85BuGjvrZzLWgGwNCnHZM2EWz40lsJzV3L6+69zESwcjXbw+TRLbM2rsmUm+C3JYvyYFqxWTH9BOxSsI6jJYdCGuYFkafM1chEaz2pTDLhdEw08k8JaP9ZwZ3nlmhKd4WEfRUE/R0M6S4T3nxnrPT0QOoBA92c9W3BTGislYd33a1IAuo6NYdvUr9nAiRKdmXMvx2ObCmD+/lzYejr7+HddUIGkpjG1XJiIulsntEmQysqt0VHepDPukq0zWJRywTpsKYl0fPQwnkePK12L3p1H1B6Lc+9kbt34YZVFE1e3Gwxc3HpEgjdYf4xH61s+J7cqBbT8l4CdsU4EUa8F0CA7uDvo3Od3OaO2rEu3LkortEs12iWqbVP9atOldsX2PGAvnyhdcQ340eO0Qd+0b7uqXYscesWV3FP73bqHZkaDaLNXsABNoHS5ECiSwcwBC63ZFV+/iDK9zxrc5027OohBDtfk9sfmNh0xbRf3oxwOHvwFjdbbtCmVuZHN0cmVhbQplbmRvYmoKCjggMCBvYmoKICAxMzM4CmVuZG9iagoKOSAwIG9iagogIDw8IC9UeXBlIC9YT2JqZWN0CiAgICAgL1N1YnR5cGUgL0ltYWdlCiAgICAgL0JpdHNQZXJDb21wb25lbnQgOAogICAgIC9MZW5ndGggMTAgMCBSCiAgICAgL0hlaWdodCAzNgogICAgIC9XaWR0aCAzNgogICAgIC9Db2xvclNwYWNlIC9EZXZpY2VHcmF5CiAgICAgL0ZpbHRlciBbIC9GbGF0ZURlY29kZSBdCiAgPj4Kc3RyZWFtCngB5dJPKwRhHAfw2V2jJFqa3HbF2U2htK3ccHLY6+Ygb4BS4iSUq42DrPagHDyblSXElgspZV6AciCyDWutNGPW47s7yzMzz868APup+fP7fp+aeaYRhBrQGvTg7Kp59yLSiKubGUoLsQBuXCxTyCeGO0UMDsJFrKFUfbmaH5QwVxXXsaQsdz3dhqCKhnH5CwvKtK0mJIbRTUJS6YM9skMISZA71BWL9ahL+p8xmXzjqNBC6EvGMDhJ9w5MxDf8Qt8rBgfFnEapvuARRtbPbm7vs0r+o/CuGJu3egjicQZvneiNfiKz0yJomUtEvBga5hAJL4mGCSmIOCdomBYVEecUDdOFhJdCw4hPiDhraEyi+Gh2unXvgvSI0CYbQGF2jtBKn0JsEf57I1Vemlzdl99WJMQWvu655HEmc7Q9O9TuFXz+jp7fn+gf+gEcv6h8CmVuZHN0cmVhbQplbmRvYmoKCjEwIDAgb2JqCiAgMzM1CmVuZG9iagoKMTEgMCBvYmoKICA8PCAvVHlwZSAvWE9iamVjdAogICAgIC9TdWJ0eXBlIC9JbWFnZQogICAgIC9CaXRzUGVyQ29tcG9uZW50IDgKICAgICAvTGVuZ3RoIDEyIDAgUgogICAgIC9IZWlnaHQgMzYKICAgICAvU01hc2sgOSAwIFIKICAgICAvV2lkdGggMzYKICAgICAvQ29sb3JTcGFjZSAvRGV2aWNlUkdCCiAgICAgL0ZpbHRlciBbIC9GbGF0ZURlY29kZSBdCiAgPj4Kc3RyZWFtCngB7VVrUJRVGN5ftft9u7h4DZRQsDGQANEURbxmloI3IrXsNmNFM+ZYVpPRGFNO45iZl1HTRi3DuKhASFyG63LbCwu77AUkBLlo3GG5LsvuntNzFpx+mM02AzM1wzPPnHm/s9/3POd9z3vOCgSTmMT/Bs2JLt0/uVKKcGJRe1owlO07IltsKQikWbMwM3EwHhUS1RqqXktUoSOyoK64qZicICg/Ew2kP0XU66nmBaJaZS0JNucsHMzwMqXNpBfw+3ii8H3xnVMug5kLbPLlRLWalq0m6rWIUdKhHD9zlk9/1oK+VDe8OS5QfcLBruuGu2PjgmylwUQRQpQriTIUga10mUXmP5Dp1Zo0DrtZ+oFAflBSEc1VHxP/8eM0U4rHcJ6ftWixtWgJjFBY+FryA3pS5nRcmo73H4WhDE9z/kKrLMhauMTBRSiOJd/fkuc/PMpcv+HcheY8v/5Mn/Z4z5arbm1xbt033QfSvSyyQGvxs3akqQqF3VC2T2fCDJroC9mHcT/W1ZwXQDThRBdB9C9RfSRI9BFEt4NUbiOVW4g2jGg3O7iJaMMpmwln1GwlldtJZRjVbkbP0PL1rFGVK3uS5jRdkUD5YTRd5Adz/IlmI63YSLVhtHLbA26nOozhbJJxM3vEYgyR1LCbGl918BU2M/oOFNTriDJkOO+Z1mtTmy+LWq6IO+Jc269JW65Ke5Kl8Kr9VtRwXmpK9R7M8kFTsYrlBw7LAkcKg0CLjNXTMRmAxoMa09RHMBfm9To17qHGXdTwMpuEY9lauzwYHdv2y7TWWNfum269v3r03prbnz5/9M7RHH5cf0RYfVz0+wlR7Um0N4+x7hQCkK8/Lak5ydWdlpiSPe2KEJaFYeeYUdWb1AjuYTOMkezX8nV2xQr0DJZqc2ylvXQZuoiqQ+D1KGAhNEagvsDGxrN8X5o30YRR42tMv+ptB/fSqrdYjsjLgPJiRILY9B2s4PDFbmLUbqLlG1ATaDqDzviZNkUoNSCXvbT6HVr9Lq2OYgEemftuVkPkZdjFYpa1gyzZUfftcISOM2iPm2FTrmHfIouqN1hSMIIjAqSJejJlR16wY9ztIAJ4RbA0tS9CxxnUnxOabs3D2tiH+By5wKXqQV4GZIFx11j1dFtY6TDqtjKikjgU6jUC59B4TtCW4E70qA86wbH4vxoDFuiKbUywYgOteI4dNNyZoGqUqxgVodBxBk3nH0NvUD3qv5MtGLJofs3zTBn66D3lSrtiuV0+RlxctpKljAhKg9lYsgw6zgD/He1xT9jLmDLuW7t8BQSZuMIRQK14KRrbilMpWwRaCgLMuNayfcw5PuZcXxbn+kLHSdSf5U3Jc3H74eBAilEWiJNuKcBJx7XpxwRzfIeynx7MmN+b+mRPkjvOsil5dl+qB050f9o8iDiJmuOChguSgXTv/gyvvt/m9YPp3rh+EfSleUK8N9XDlDK76/qs1p+lzZfEjRe5ph/4+1ckLVentMRKh7K8IeI8jF8L711y6UyY3hE/Hfd51/WZ3TdmYcRja6z03mVJzQmuPJov/5zXfsHpvuKMR0W3vxFVHRPe+U6Ez/8VKg4JdV+K6s5wDd/z4N3z/N1z4roz/O3jnO4Ir47m5AfFuVGS/ChJwXsuhfskRfslxfvFyo84dczf3/z/gMRIgeJTTntYqI0RaQ5zFdF82SFe8TEv/5CHS/EBl5KDQlxoAN7MPyCV7ZuSG+ViiBFMYhL/HfwJHR2gsQplbmRzdHJlYW0KZW5kb2JqCgoxMiAwIG9iagogIDEzMDgKZW5kb2JqCgoxMyAwIG9iagogIDw8IC9UeXBlIC9YT2JqZWN0CiAgICAgL1N1YnR5cGUgL0ltYWdlCiAgICAgL0JpdHNQZXJDb21wb25lbnQgOAogICAgIC9MZW5ndGggMTQgMCBSCiAgICAgL0hlaWdodCAzNgogICAgIC9XaWR0aCAzNgogICAgIC9Db2xvclNwYWNlIC9EZXZpY2VHcmF5CiAgICAgL0ZpbHRlciBbIC9GbGF0ZURlY29kZSBdCiAgPj4Kc3RyZWFtCngBfdS9SwJhHAfwny+IkV4iFFFYNAWB2RCRg0SYOPQyNEVBU2sQDjUltLRF/0BUQzg1SCANVpNiYUko2SChQ0NDYC+Yknr2PfPl7rx7Povf3wuP3OMhkYTGYOaMGgQRSWlxbZ3FntLxwLbHpkPdQTvsu/+qNRQeD+x6NKX0m888hm2v+91oi42G0JZJODFoc99KD6njc4sYNY3H0VKQbS/1hxVOqUuNYVx3WEapqBrCWDD1i0oFv1q/QUMQWVXMihVyfCOqKnqxQn4khmN8mSmCwJDqIxrJIDDkJ4gm8wgMRQ/RfBGBobJGtMy4HQG/gXNKCAzlFdzyJwJDwU00lK0xvTtwPzEEhsQA3vpdBIYjLX4Le+tNV1KaxQpx54iqIl1YIZph3GJ5AQuC0yoqRXxQg7mgV/XREjaM/7lyqBU8zDWPITJfo9Ep7RWeu8GcRkeuHJ7WtY8hrcJr/7bHiTZgvYKuyE/Sb5P+7+AeLxpLH1fR6OWJz9mj1chWiAZ3bpIvmbvAkonjjDrZvFXpTFaLEZ8K/gDlzFyRCmVuZHN0cmVhbQplbmRvYmoKCjE0IDAgb2JqCiAgNDEwCmVuZG9iagoKMTUgMCBvYmoKICA8PCAvVHlwZSAvWE9iamVjdAogICAgIC9TdWJ0eXBlIC9JbWFnZQogICAgIC9CaXRzUGVyQ29tcG9uZW50IDgKICAgICAvTGVuZ3RoIDE2IDAgUgogICAgIC9IZWlnaHQgMzYKICAgICAvU01hc2sgMTMgMCBSCiAgICAgL1dpZHRoIDM2CiAgICAgL0NvbG9yU3BhY2UgL0RldmljZVJHQgogICAgIC9GaWx0ZXIgWyAvRmxhdGVEZWNvZGUgXQogID4+CnN0cmVhbQp4AaVXB1hUVxplI8PQmxQFAooK69CGDpZIkm8tSTRFTUzZTXZ1NZsICiIWLCNKVAg2LFFERcVFkICoIEoVRepQhiqjgAzMMPQyTH3v7J1Z9ctumu6e73z3u/e+c8+Zd+e+/31PS+vVgNSV9xOXlR1bUsgJAhm/NF5SXHOYLU5wEp93HkpxnMiwlWfZyG/aTGTYjVx1GLw8q/fUdH6ca+rKlUT5PwMczuDx6T0/OEivWqjumNGV1mh1Q9dbEC2FaBkEC8H3AddWlW8uSzcdODO1K96R3KzWq4Os6j5sL71iROUx0eSMwe2QZULFA90NWqQmekC1QZGHkRjw59DFBrKr+qJjtrnhC8nyl0fLQefBE+a4wQDPFcOxoCpBNWnYAuoRKL6GpEOGjRrWQnIJbYuRy5ScNmz+biYxeRkI4mwlZ/TpHH10fAp5KqhCUCVQPYCqDKoqqGqgqoWqDiquZlgGJblaBFUBlNno3YoiS9l53c5YG2L12+BFO0+c0UO2Pjr/SkmTe9ti6u5s5OWHDwlOU7KbUOZDWQhlsYakkwflbShvQpEJxTUo0qBIhTASRQ7Ss3qCA9bE8NdQyGGNxesiywRtqyQ9MRmxC/avmrbvY/u9K+xjPp9Vdf3vtCIFyh+hyNCQdNKgJDPJUF6E6hyUCVD8gLGT6ApHrqXsFLOMwyK2vwjRfgs6WRvcBUrx3vTowLg17i3lEROjxyQjJ+qKIo6v920pDYXyHOSJGiZAfhrK+NEejqg1TMD7VtgSLOndhvFo9O1D82f0Nf2+GGNi+3MURzopTk5CviPa11G9Yd3N39LyXZBtgyxSJdk2Lo5QyWNU0gOQ74fsgJry/fLxqKTt7qHz9MIWmEa+Z7PrA7uoj+2Kzr+tFG5AZwgeBNIJf6jfaUfMf4pUDqt3nyGu6KB6EZ58BcFq9K3F0FqMfiMbXHMp0ilysVFtzru0fDOkhBEabqalm4VP1gsaVw90/WN8YMNE//qx3q/Hu1aj+2948iV4y5FuOnxAr4HzH3HlO52kcdq4YYu6pXj0EdpXQPAJ+j7D8BdlaQHbgybFLNW+vH26dPhLTKx5ztWQr3lSvjj2C4uUKCepaCUGPoN4FXo+QccKtUn9Mtx1kR7RbtjzOol4gabdVsoTryHPDdy30bQIbUvQ+Q56ltL976dyHE6uYlz4ipGy025icDkkK59xYqV04IPYT01iljH2LNYRcoMgXobud9HxjvpBa1qotir2p8/qdOwxx/NqSI6fgKOrPKuHAjbK/VE7D81vgL8AnW+i9+2SJFb88tfil0+qzGTTo0swvAgjGo4uFtbPO7hM58o65pEVOj0Vgeh5C51B4Aepl9fNA5kp8lElmYiidXPD3UkQQfkO554opvyCEfJYuM9GlTfqfdHiD74/OgKkT+cXnnWuzHCTi4PQN1/Nfk3bN3/s6dwTfzFI/DMj8RtTafsctAeAH6BeyPNVm5Syke8qT7boi2bUbLYlQQTciKnCvQxpkjGdMwPFLnjohmoP8Nho8USbF9q9qW5/WuSPbl/0aCj0Qw+hL8QB9bdcb8bY9zX6osMbbZ5oYYPnDq47yt1wz4XOnSlLntz73aSa7VYkiKA8fIpgr/b4BUPqph3ynfBgNipY4LqA54ZmN3Vtb3PHY3e0e6DDE52eeKoh6XSw6adeVJeX+iqRETGpn2RhJUttUuBM3XKYuGQsJFkRz7IqNk3u3PPa2Dl9VdZU3HXCPRbKWKh0Ra0rGtzRTHzc0eYBvgces/GEjXZPdUv4WDP5yAMt7mhyR4MHat1Q5YoyF5SwkPdH1Q278SRDQbQ2d5M5CSIg99W+a9JQgp4yw4rOdUKRK0rdUK7ZiloPNLDRpNnPVi88IrvqCb6GpEOGrZ5o9kQjWy2r8wDXAxXuKHVHsSvuOCszp4wmGnREaZeFP6uNxcFTWrcz+k/qytPMVNmOKHBDiQfK2Khkg+uJWk/wvNDohWZvtPrgESHpaNjirZ5sJAJP1HmpxVVs9cISNgrc6RxHRfrkgdP6/F3aFWHPsu6GsBojmMLDupJkY2WWDZ07mypkK4s86XIvVHqD64NaH1k1e6zUrT+fJbw9u6+QNV7hoawnQb5o9EG9WqCWkbNX7o0HXijyxB0X6obtRIqpKF6/eQujYP2zc0gKVFWoXsd+neELRoofLVQ3HCayWEOZPoNZJI6cXl/U+GXudsiJm1XwAys33jlr//TMKPv8WPvGSzOHitzpGl9U+6llRPzAF8XedL4bne2o+NFy5KJxVyyzbhMzc70zCfo37oVYte7QFp8ylKSYKdKtpDf+SNW81xBjryjyQ5k/KvzpevKAE85Fyzy0zpc1LWi/NzfvtHvajmn9dz2JQC0r9cM9P+R70redqCwbaYpZ/xljPodRGmLC4XC0nuNuqGNdGKMzzmDovKk0ZfL41ddJYWyItpFk++J+AB4EoCwA5YGoCEBlICpJqyF3DuoX0OVz1YISf1KR1EG5zmT35NcsRi6aCY4Y8MIn5YXNIBEvUBY8syJEv2W3jvCE8XCS2XiaI/jr6vfajmZ4oNAPxQG4H4jSOerXxP058qKA4Vu+4mteQ9e9pXf9UBKoFhBZngduO9M3bJXplmOXJ4tOmTyKYpYF65eGBpKInyI7dCY3jME/oC86ZSzJ8UFfrDDZb/CSA31nNn3Xg8rzVuZ6y277jWXPG81bJHn4ibTq4+FbfoLzLLogAHleyHVB9gxk2ZC/YPyKhTjB7EmMfv0m7bywWcT856jaqM/bSnZSX16yhB48SwsOTOS9RfwVBW8qSj9Q8taq2oLpls/psjniy9Pqo6fUf2c/nOaKXBZyZuKmPX19qiLNejzZsj/RvPOwUUOkTlWI3vMC/98QRhtWBOs8/d6Iqv6I7jlIiY/S4mO0+AgtPkT3cGjeiuEUu+KN5kkfTk1f7dh6ZJY0YyZuTUOWLZ1hrUq3ll21Grts2Zdg3nHYuHEns3qDDn+fHrH9NdRt1hWdtKCr3qVa11KPw6iOLVT7JurxBqptHVW5sDPO+MRCm9xg+5GLtlSmDTKm0ulTqGvWilQrSbLlSJJl7xnzjkNGzbuYtWE63HDmi9fWLwKJWiOXrKiHQVTN+1Tth1TdR1Tdh1Tt+1TNUqrqT7IMh6KQyZ1HpyqvWik0lP3TaiLZcjTJYuCsec8J0/ZYg8YdzOqNOrURvxNE0HdQayTBmNQN6uECqiyIevgGVTqfehBIlXhR+S5DieYZX1p1HLUeS7IgHLlgMXRucn+CmfCkydNDhmTH6iMYlRuZ1RF6SNX63SxwtPqO6ymz7FWkSufPVhW4qNs7M1TZ9spbryvSbaq3GjfvN+89ZSI6aSI8btx9xKjze4PH+3QbtjIqQxjcUN2BY7+f8gKCA5PGzhnK0y0VmdZqXreWZ1rLM6xk6VbCo4aZX5jyIvX4UbqPOLrNO5h1W5jVodoPv9Wp2KDL36d+cbx8EEHbbi3hQZ2RBIOxi4bjl40lV4xJCSW1S5Js3hevn/OVYfHX+qXBeuUhTOJfGWZQv03v8RYzEqEmWf+K6IrUao/WFhxkiOJ0eg8x1TysIzrM6DsyScwhP8acsP08+cZ8Nf/fUGKllvgbrYZQrZqNWu0crf8f/wLvMwguCmVuZHN0cmVhbQplbmRvYmoKCjE2IDAgb2JqCiAgMjcyMgplbmRvYmoKCjE3IDAgb2JqCiAgPDwgL1R5cGUgL1hPYmplY3QKICAgICAvU3VidHlwZSAvSW1hZ2UKICAgICAvQml0c1BlckNvbXBvbmVudCA4CiAgICAgL0xlbmd0aCAxOCAwIFIKICAgICAvSGVpZ2h0IDM0NAogICAgIC9XaWR0aCAxMjQwCiAgICAgL0NvbG9yU3BhY2UgL0RldmljZUdyYXkKICAgICAvRmlsdGVyIFsgL0ZsYXRlRGVjb2RlIF0KICA+PgpzdHJlYW0KeAHsnYm2HMetbCVSJDVZs6zRNqnB+v8/fHtHILOq+jS17Puux9uRQCCAzJoOtaCs7kPpnXffefcdICEnhIOp7Khj5u/ihZH8xLps1MsYB+3DTOUGEVXCF4sIZ2aYhwi4bBqD9AiJgVLjkipG5gASckI4mMqOOmZ+PIiR/MS6bNTLGAftw0zlBhFVwheLCGdmmIcIuGwag/QIiYFS45IqRuYAEnJCOJjKjjpmfjyIkfzEumzUyxgH7cNM5QYRVcIXiwhnZpiHCLhsGoP0CImBUuOSKkbmABJyQjiYyo46Zn48iJH8xLps1MsYB+3DTOUGEVXCF4sIZ2aYhwi4bBqD9AiJgVLjkipG5gASckI4mMqOOmZ+PIiR/MS6bNTLGAftw0zlBhFVwheLCGdmmIcIuGxaE+ShsFbsq084w9U68gaUMAB3PmTImAygsEVMEcSKKvVMlYvo1B1gQmsy1IGEjaPE5pZ1RFgrfMJgwhmsdtyd0QDc+ZAhYzKAwhYxRRArqtQzVS6iU3eACa3JUAcSNo4Sm1vWEWGteDz/yAlnsNpxd0YDcOdDhozJAApbxBRBrKhSz1S5iE7dASa0JkMdSNg4SmxuWUeEteLf+PnNWneAECBi4wytXhjxnQ9cQkA0gENshWbIN2iZiABkDCIIFdbgEIZfQYElCCPzkEggSwTEQ1fILCDoMF7pCYnRBEYw+QYTrUwAh9gKzZBv0DIRAcgYRBAqrMEhDL+CAksQRuYhkUCWCIiHrpBZQNBhvNITEqMJjGDyDSZamQAOsRWaId+gZSICkDGIIFRYg0MYfgUFliCMzEMigSwREA9dIbOAoMN4pSckRhMYweQbTLQyARxiKzRDvkHLRAQgYxBBqLAGhzD8CgosQRiZh0QCWSIgHrpCZgFBh/FKT0iMJjCCyTeYaGUCOMRWaIZ8g5aJCEDGIIJQYQ0OYfgVFFiCMDIPiQQSLEBFbxOGKQ7IGDI1IzTGhEgREBAaAqOUiNAEAhIIWMIgQSxQGESNocZjUguwY8OcFCZRYkR8sUiRwDgMDBvqMAaU1L3eojEmRIqAgNAQGKVEhCYQkEDAEgYJYoHCIGoMNR6TWoAdG+akMIkSI+KLRYoExmFg2FCHMaCk7vUWjTEhUgQEhIbAKCUiNIGABAKWMEgQCxQGUWOo8ZjUAuzYMCeFSZQYEV8sUiQwDgPDhjqMASV1r7dojAmRIiAgNARGKRGhCQQkELCEQYJYoDCIGkONx6QWYMeGOSlMosSI+GKRIoFxGBg21GEMKKl7vUVjTIgUAQGhITBKiQhNICCBgCUMEsQChUGplZZBLYgW0IgQmqGV6g5gcBVGQjAGViiQ4hjpgsrKALUyY45JkSCSw4QxJWLYQMQlg/FM8gkcIzcIFLaECEMUEFJsnUrGW6gBolSYMEuKY6QLKisD1MqMOSZFgkgOE8aUiGEDEZcMxjPJJ3CM3CBQ2BIiDFFASLF1KhlvoQaIUmHCLCmOkS6orAxQKzPmmBQJIjlMGFMihg1EXDIYzySfwDFyg0BhS4gwRAEhxdapZLyFGiBKhQmzpDhGuqCyMkCtzJhjUiSI5DBhTIkYNhBxyWA8k3wCx8gNAoUtIcIQBYQUW6eS8RZqgCgVJsyS4hjpgsrKALUyY45JkSCSw4QxJWLYQMQlODGMw3GwQoshHNtAY67YEZKFEffwBMw5uEQARKpqPYkon9FKOUBiwGOq0AxgWKNIlHAsSAwZPI1RwElrEIzLsYDCoTVHqiIR6qiRyiUCIFJV60lE+YxWygESAx5ThWYAwxpFooRjQWLI4GmMAk5ag2BcjgUUDq05UhWJUEeNVC4RAJGqWk8iyme0Ug6QGPCYKjQDGNYoEiUcCxJDBk9jFHDSGgTjciygcGjNkapIhDpqpHKJAIhU1XoSUT6jlXKAxIDHVKEZwLBGkSjhWJAYMngao4CT1iAYl2MBhUNrjlRFItRRI5VLBECkqtaTiPIZrZQDJAY8JuqgFWZCREAxCcYhXAslBaZRoQacWexwLWcxojCJXNoWtH5miAFCBGMoAZE1GkgRlCdClOGAeGRZjyEkjUGirYpmATglhybgHYGZEjfimHCtQ5PIpW1B62eGGCBEMIYSEFmjgRRBeSJEGQ6IR5b1GELSGCTaqmgWgFNyaALeEZgpcSOOCdc6NIlc2ha0fmaIAUIEYygBkTUaSBGUJ0KU4YB4ZFmPISSNQaKtimYBOCWHJuAdgZkSN+KYcK1Dk8ilbUHrZ4YYIEQwhhIQWaOBFEF5IkQZDohHlvUYQtIYJNqqaBaAU3JoAt4RmClxI44J1zo0iVzaFrR+ZogBQgRjKAHBGpBAKtVlR7CWDTiYQmaxogLGBqq9cAFJbpmomIwwlNwIOcgxogq0RGhULGeqYpwBEiA5ZABMqXCMLBaliMIAEYXvgVkgJDo03Gw5IwbKVIScxYrJCEPJjZCDHCOqQEuERsVypirGGSABkkMGwJQKx8hiUYooDBBR+B6YBUKiQ8PNljNioExFyFmsmIwwlNwIOcgxogq0RGhULGeqYpwBEiA5ZABMqXCMLBaliMIAEYXvgVkgJDo03Gw5IwbKVIScxYrJCEPJjZCDHCOqQEuERsVypirGGSABkkMGwJQKx8hiUYooDBBR+B6YBUKiQ8PNljNioExFyFmsmIwwlNwIOcgxogq0RGhULGdKAWE4h4AlYIqhNYtXQBnRB6hIF5BSho3LjxOi0EsstPAMVZCQwljBisBiMYKDUDneMPMwE3PUO+9Ex4B849jQCmVDzoFj4ghYfMAtaF5qI9MhcDw/YcSgM8ehJKQwVrAisFiM4CBUjjfMPMzEHNWbQmJAvnFsaIWyIefAMXEELD7gFjQvtZHpEHg8P/NEsMWgM8ehJKQwVrAisFiM4CBUjjfMPMzEHNWbQmJAvnFsaIWyIefAMXEELD7gFjQvtZHpEPhHPb9TOX6oBhGYQ2BKEwBhkMycRBKiYmgs0BhIlTmhqEWCufnc3+hO438L+KODr5hjZ8IVI4OzziQUJJAOFfyc4OJUZvX1j0ykontM4oGm1G/Q+uP5nRmdVfrfgjzADebYmXDFyOCsMwkFCaRDxeP5Uw5OZVbnaS9IRfeYxANNqd+g9X/088vBtKJSgM4AEw6RRTXJgFMFaBQ5gwQmnuFVW4t699mzxoX1p1IWKhadjinUuIafYIoFKw6cusUqrYhg8PPZhcJUh53CREJyCBPlFa5I8fQsHnYGJ4GNCyoWnY4p1LiGn2CKBSsOnLrFKq2IYDye/3atqQ47hYmE5BAmyitckeLpWTzsDE4CGxdULDodU6hxDT/BFAtWHDh1i1VaEcH4T35+L5DlMk0IB7IlhAxkZEwdkMADpFM6hC2M5FKbuAtM55mARUgDk5kiugbScJiIQsM4ZLBQoAtqIxN2osAqVMSYTs4oUEjXAIJCI47LFJS6IN0albSEMw6LgzWNgclMEV0DaThMRKFhHDJYKNAFtZEJO1FgFSpiTCdnFCikawBBoRHHZQpKXZBujUpawhmHxcGaxsBkpoiugTQcJqLQMA4ZLBTogtrIhJ0osAoVMaaTMwoU0jWAoNCI4zIFpS5It0YlLeGMw+JgTWNgMlNE10AaDhNRaBiHDBYKdEFtZMJOFFiFihjTyRkFCukaQFBoxHGZglIXpFujkpZwxmFxsKYxMJkpomsgDYeJKDSML5lBlOCEhTShdql4SIcINYhFCAyo8aIxlRt4HS7G0OJixyUKsiwllGPgOR7V+uDdZ8/ffb6nCmSt8HQ7ESYeRyBecF2Jfvd57n5DfSmQ4gUKO3BJzLCFXh48PdvcRCcgDOyHbH3gczyeP2IDWSs83U6EiccRiBdcV6Ifz/9v/vwsfh6GDLVzG0pbAqVyXK0jtY1q5iHm9SjhdRiivLBvT1E8ZxzgJw4PlHrpDjg2Z1vgz9il+hnmeqDQgyUuZznA+c4gwy7ggsexW7lKL1Q4Fs8qRcEZ4IXH858ypV66A47N2Ra4X5fqZ5jrgUIPlric5QDnO4MMu4ALHsdu5Sq9UOFYPKsUBWeAFx7Pf8qUeukOqHs2HRjadmhBRRpSqN0pBIhAgcQAfMoWXKEt5NxcIZcR3AJPkB8UruGiUYpiEUPAGARUksOCDpytY5JjgMAKyyyHCCWBgI26Q8AshYFRDxCoFBQBEQNlgNBwIkEBVAGBDMNFoxTFPEPAGARUksOCDpytY5JjgMAKyyyHCCWBgI26Q8AshYFRDxCoFBQBEQNlgNBwIkEBVAGBDMNFoxTFPEPAGARUksOCDpytY5JjgMAKyyyHCCWBgI26Q8AshYFRDxCoFBQBEQNlgNBwIkEBVAGBDMNFoxTFPEPAGARUksOCDpytY5JjgMAKyyyHCCWBgI26Q8AshYFRDxCoFBQBEQNlgNBwIkEBVAGBDMNFoxTFPEPAGARUksMCAUYHRGyB1rZBR4p1aLQtTDeTUDiMgywhyRAkwvMyPH+RS3IP3IfsuCK5S8DiHDKIevb8PdhYZwV0F3cn3rOqg3WoZxyp2DJY2YpP8IzDndQ915yVamv4lBD4TDiuSD5LFz+ev0pEPZ4/xxPrrIDu4u7Ef+nzw4kIVDGNJ73oAM1KIJDma5glEA16CGdin8PzYhteFIcSFL3F4r3n77135KPuBnGSCzmcszDGBtbFimIWb2wZIeEY4IQjEiAqjAtM+SOlDtB3YPky9+yS5VBiMepuECe5kMM5C2NsYF2sKGbxxpYREo4BTjgiAaLCuMD08fyP52dRlz2F5cvc//Lzp0bbZozZf9KB6EYFLYsehakNtC1gIKHmQE/AgZlmS+N0GOD2vQSXLLh9HkAB5FiHoISAr7DaoTlvSIwIUOQIQX1JkKQlTLWIAaOxggQQKiUWkdWRRpVCS9SxTtfqrVTHRIL1WIeghICvsNqhOW9IjAhQ5AhBfUmQpCVMtYgBo7GCBBAqJRaR1ZFGlUJL1LFO1+qtVMdEgvVYh6CEgK+w2qE5b0iMCFDkCEF9SZCkJUy1iAGjsYIEEColFpHVkUaVQkvUsU7X6q1Ux0SC9ViHoISAr7DaoTlvSIwIUOQIQX1JkKQlTLWIAaOxggQQKiUWkdWRRpVCS9SxTtfqrVTHRIL1WIeghICvsNqhOW9IxAGswgf0ngP0I9oSoD1hq2FhpgSykKmxwazM4TCBVqZxgQ1uRQYQJl5gleEXjAjRtQMWHjOg+VRMwITAM7kCKEobzcriOcuzVrRcFi+QWLDiUhxYTCSs8yA5qzQwW5MLTM6Fw5clj+eHFlh4zIDmUzEBEwLP5AqgKG00KwseY24DtFwWj+fHiWLFpTiwmEhY50FyVmlgtiYXmJwLhy9L/p7nr4Ct0WUCGlpBN6IxbdiqcAWAK/USwUgrg5R0NE/AaQAnjgEv1WsO+FlxZy8AURWjEMeImMK0LqKUUAIGVIIoEAxQLQy4NQdJPGxgVC8xAdYcmjUCaQwF1ZBJAIkVBCZSI0MKIgmcqIpRiGNETGFaF1FKKAEDKkEUCAaoFgbcmoMkHjYwqpeYAGsOzRqBNIaCasgkgMQKAhOpkSEFkQROVMUoxDEipjCtiygllIABlSAKBANUCwNuzUESDxsY1UtMgDWHZo1AGkNBNWQSQGIFgYnUyJCCSAInqmIU4hgRU5jWRZQSSsCAShAFggGqhQG35iCJhw2M6iUmwJpDs0YgjaGgGjIJILGCwERqZEhBJIETVTEKcYyIKUzrIkoJJWBbCZoMvSaG24ZsSbY2uaBnDaLpXwZAHFWYsh5wIg6HOeEGlwtyB9xWcJIH7pTejruLWyzzqNANXuK36LL3XrxUEODirIHTwctDHmjpZc9yD5wLEwl3lt0pvR13F7dYfjz/xDNy6Rt0GQ+rIMDFWQOng8fzb3mgpX/+8/cpJXoMbQXQ0kSaEK2IhhanQYE0K7sWhFQxBhbNNMusDzw2p+N8ED0NE1zWa/MTyUMBfgIAoWLEEAYMNyIqgYyVmISJoGwFJlMwMDJthiANWEipBhmcIZSLRAvgwnjJAgMQNEgYMapjyWAiSiMjRjFiCAOGGxGVQMZKTMJEULYCkykYGJk2Q5AGLKRUgwzOEMpFogVwYbxkgQEIGiSMGNWxZDARpZERoxgxhAHDjYhKIGMlJmEiKFuByRQMjEybIUgDFlKqQQZnCOUi0QK4MF6ywAAEDRJGjOpYMpiI0siIUYwYwoDhRkQlkLESkzARlK3AZAoGRqbNEKQBCynVIIMzhHKRaAFcGC9ZYACCBgkjRnUsGUxEaWTEKEYMYcBwI6ISyFiJSZi4QXtJV5tgc8NoROy0GDewf4XpXuO2MRQEx4IczFkApxOcmwbK2OBmoODFy1fwGbf5xhyx8epJhVqPfsVYeDHScBxgdsJNunAueznu9lwKdqEXhdezmQy2uAVnhM+4zTf2WQfe0C3m9rgJuHg8PwQMxwFmJ9ykC+eyl+Nuz6VgF3pR+PH8xMBCsMUtOCN8xm2+sc868IY2kN4eLFA2HPpaO1vA2yi9ie50gD5G32IIGDtgwhyBlRxnZwSciZ7GaTk/A3hNLszFT/AxcH4c/sxeAQijtqpoh0qXMGixhmCMBDAngFXCRGOQICchWqFWoKhqgpCSXiQFCR4uMVANWNV2OZF6XYN0Fr9PzaGFMOvWlBBDpUsYtFhDMEYCmBPAKmGiMUiQkxCtUCtQVDVBSEkvkoIED5cYqAasarucSL2uQTqLH89vpqYkYdatKSGGSpcwaLGGYIwEMCeAVcJEY5AgJyFaoVagqGqCkJJeJAUJHi4xUA1Y1XY5kXpdg3QW//8//9ACjQbQ1AZ0Inds7Uz2KLqV/Yohp3FZwigAQnQqTnEILY2jaY+2NbsaTQ0LuKY34O3gwY14n1FESYQ4eH/iDV6u+YHLahfc5tfKS44656CVIVEGW1zxknqWxwPE+9zgBnmw4p6q6NEiSiLEATd0D4/nv9ZdVrvgNr9WHs/fS53QypAogy2u+Jc9v4DTXYLsomg8Bb2IloSDtLWAjkXrOrUxw0YqrAo8jDNgdDX6Gifm7FyES6Wfee0Bd8x94hupUanpVICUiRXKmV0OZxgP33BJHC2MeOwDj3OSIMoJH6SOf0BCJJAEHAKDhjLr4VkDTX4GhRyK3YLDHGM6FSBlYoVyZpfDGcbDN1wSRwsjHns8P+QkQZQTuH8CzoMbCSQBh8Cgocx6eNZAk59BIYdit+Awx5hOBUiZWKGc2eVwhvHwDZfE0cKIx/4rnp9S2io8zY2+I2hrgH5EVwpsUzhNTUsH00m2FwhWOcN6m5pdjaYmODFtbcBFcwcXfPABPyzoA34ICBwiWNCk1LZjgoBJLAFGUCHjlRujDcx0jhDGoPjiYEsFnmUciQ0Qk8i6YIXDlMCYiKk2essgRR0iWNCk1LZjgoBJLAFGUCHjlRujDcx0jhDGoPjiYEsFnmUciQ0Qk8i6YIXDlMCYiKk2essgRR0iWNCk1LZjgoBJLAFGUCHjlRujDcx0jhDGoPjiYEsFnmUciQ0Qk8i6YIXDlMCYiKk2essgRR0iWNCk1LZjgoBJLAFGUCHjlRujDcx0jhDGoPjiYEsFnmUciQ0Qk8i6YIXDlMCYiKk2essgRR0iWNCk1LZjgoAJlhygxwCaDQ2nzY02lL4G6E2CbvWMdkXjautC0L4YB6gxApZzDOAEbWucVNDQMHqaA3Cngw/xwa6JD99fM7cRHPJyzAVrzdtX7CWDfcXinJ31HTCNgbderNNgi8Epvxz8eP41cxvBIS/HXLDWvH3FXjLYVyzO2VnfAdMYeOvFOg22GJzyy8GP518ztxEc8nwMfWXBNkPLEXQfQCtqa6M30Z/sVAGtCzTAFAgCjlFiteA4z8B55lM1Tj5dDXgnWFx8+MGHG5XUII2BMbBjKeIWTrmAEJBJ2oEUDRdQPSpRk4dDIgLaJggxLk0cVLUgMUfA9G0pM6HcaEIV0hgYAzsWI27hlAsIAZmkHUjRcAHVoxI1eTgkIqBtghDj0sRBVQsScwRM35YyE8qNJlQhjYExsGMx4hZOuYAQkEnagRQNF1A9KlGTh0MiAtomCDEuTRxUtSAxR8D0bSkzodxoQhXSGBgDOxYjbuGUCwgBmaQdSNFwAdWjEjV5OCQioG2CEOPSxEFVCxJzBEzfljITyo0mVCGNgTGwYzHiFpkUdhVaTGBna2+jB9nYXtCVbGxB+hWgddm74iABC0gAa2McS1ezrwGbWntauhrX5MrcGDb4CP/wo4+IITSCiBUkjhgeNMLYU6xlDWFOmbjgGVMiMMTBurNELEBjgCoSAQxJqBFjJAYEJgiZZWgkmI4GjTADUyOIWEHiiOFBI4w9xVrWEOaUiQueMSUCQxysO0vEAjQGqCIRwJCEGjFGYkBggpBZhkaC6WjQCDMwNYKIFSSOGB40wthTrGUNYU6ZuOAZUyIwxMG6s0QsQGOAKhIBDEmoEWMkBgQmCJllaCSYjgaNMANTI4hYQeKI4UEjjD3FWtYQ5pSJC54xJQJDHKw7S8QCNAaoIhHAkIQaMUZiQGCCkFmGRoLpaNAIMzA1gogVJI4YHjTC2BV0F0CnaWNjR9W+ls5GY7I/0aToVHQsmpgDSGQbkcwFrPYwtmsMehrbtTQ1vq3hIjS1gIsD7x0/8PF4cJ3qxMcffdiggY8bNkix4mOGdpwpiahY5QWq2AmTTWg8KDgUmCQhVJwkOLIPl55QoQd3bg9/PH+CBh7PD51AihX/554/B7TL0WEy2EPR2ACdja8t09ja2QDNioZl37J9xbEBKvXMs5DlHBdwClqk56Ox0dKCaWrcQfHxLaz9gT+TgNuHxahQgMIKBIb/ASbg0oGdLcHCJQ9Y8TrGEsiZJA7BbsHEDT6aVZ2BsQXPgx24JMHj+X2Mqc+9gFGhAIUVCAzPpSOlAztbgoVLHrDidYwlkDNJHILdgokbPJ4fAp2BsQXPgx24JMH//Pk9Ere1pbnR3cBqbTS2o689f48+RWuD6Fr0L2ELw3CSAGFPi7tbE5ygbY2m1q7GRQA9rV2N+8lPShMGEhSUoKgfcBUwYFKDrKMImk4OGmQniTAUw+ExPLAWTSBi8UXWAiKZYpEuCJ05RebiDBBq0GHCnktQ1A+4ChgwqUHWUQRNJwcNspNEGIrh8BgeWIsmELH4ImsBkUyxSBeEzpwic3EGCDXoMGHPJSjqB1wFDJjUIOsogqaTgwbZSSIMxXB4DA+sRROIWHyRtYBIplikC0JnTpG5OAOEGnSYsOcSFPUDrgIGTGqQdRRB08lBg+wkEYZiODyGB9aiCUQsvshaQCRTLNIFoTOnyFycAUINOkzYcwmK+gFXAQMmNcB1WhtGdwPs2AS9h9ZGJ6If8QZpZ8P4EoBmRdOikwkDmraGoKXJRMEqemAaG0dzDvdq9DXeQDk9LU1wzfQ074E7GnzC0MAnBB3O0EQ0gJEBCskASZHwhQQTRXJYhUO4NlnYSBCyEseIcVmKtZ6oAgm5TgyNxWVhiK8CGQoD1nQ4QxPRAEYGKCQDJEXCFxJMFMlhFQ7h2mRhI0HIShwjxmUp1nqiCiTkOjE0FpeFIb4KZCgMWNPhDE1EAxgZoJAMkBQJX0gwUSSHVTiEa5OFjQQhK3GMGJelWOuJKpCQ68TQWFwWhvgqkKEwYE2HMzQRDWBkgEIyQFIkfCHBRJEcVuEQrk0WNhKErMQxYlyWYq0nqkBCrhNDY3FZGOKrQIbCgDUdztBENICRAQrJGNBRGIImwwZqWht9jcZGZ6Ox2dfoasBeRdMq6GAMOWgCmGpTow1yTPoasKtltzZdjZZmU/MWcO5q4VN8Idq5TxmivMLETwkuaNSKLYJkoYUjmSOHGqzBOJhwC8v6YhHFzcBP0OIxOQrCBoca/Xh+ReTwChO9Uxc0asUWQbLQwpHMkUMN1mAcTLiFZX2xiOJm4Cdo8ZgcBWGDQ41+PL8icniFid6pCxqDNLhPaC20mLY2epudLS+jfH/ARsvGxnaNJkWnArQtu9ogWsMFOW0Ns6U9s6vZ17JZo6/RMu1rXMi2xrW5OjcRfPoWfIaf8Mkq3B4w5QtWrTFHfJbQAhgx4RbX8mfXNEgpNFDHP0u4Bx7Be/gbcXMWDobB7SmmfMGqNeaIx/MbWgAjJtziWuaRniCl0EAdfzy/4R54BO/hb8TNWTgYBrenmHJBPwG0NkBnS2/7yMZGa6MR2dkAvckdG01N0LbsXzSxIDs1DELWWZX9GsfxFkp35Ezu1jhtm5o7NS/Kxemx3BQ/Be2MTz+/KSx8npX6E6zip59Dk0XegFon+XHAwpsIGssHOGJDrQ8qP91xVc6wKow64DG8zd4B4haP53fiDjgQ1p9gFT0xjLv8Kah1slcXj+eHRGP5AEdsqPVB5b/H8wPY0eZmj0lro+uwa7O1sWOjs9nY6E60tTY2uhZoI6OVxQJq1mlqtjWammCvBtitcS67WjZrXIUtIhe1owXe0eeffa4BGccKnuRIAA/2+RcG4FwpGMF8FLTniFjxBfNOYFdQwA6Y6MIDoDAuE2MOwE1dkLUExmDEqbISfaDEscLTYBsewKVScq4UjGA+CtpzRKx4PP/j+Z3ArqCAHTDRhQdAYVwmxhyAm7ogawmMwYhTZSX6QIljhafBNjyAS6XkXAk4ESakp9BfaDOAzsYbIi+j9DUaG93Ixuamq62NjkXnSv+ik8UBXQ0Q1Dhr0tZyHK+ybtbYrtHUpqvRREUaGuBm/KEwvuB+IQIewjsRKHQ5KwkHL9JlQBRGHIvDTOHwKmCUUF98aRkDEBIBGb5U1MXn5DdgnbZWkOsZSqIIr1XwKFEVlnAORQQKXc4xhIMX6TIgCiOOxWGmcHgVMEqox/NbxgCEREAGntegi8fzQ1ewTlsryPUMJVGE1yp4lKgKSziHIgKFLucYwsFWJBzQWNy1pbXRceg7bNpsbPY1Phl7SXMSNCr7Gk2LFgbBOn1MJpoGLLKvcQxtzd0afc3dGm2Ntmlb+4Ot1K7G9bmRjS8BrNJLhDiMQWUdiQEivFAt64MlPcADgbyOlHEsXrgANmIqUKJCkFQMVBBBDu9oYKBhKDwYRa1AeHt6iRCHMaisIzFAhBeqZX2wpAd4IJDXkTKOxQsXwEZMBUpUCJKKgQoiyOEdDQw0DIUHo6gVCG9PLxHiMAaVdSQGiPBCtawPlvQADwTyOlLGsXjhAtiIqUCJCkFSMVBBBDm8o4GBhqHwYBS1AuHt6SVCHMagso7EABFeqJb1wZIe4IFAXkfKOBYvXAAbMRUoUSFIKgYqiCCHdzQw0DAUHoyiViC8Pb1EiMMYVNaRGCDCADGgsaS50WjobX/4hJdEGhvfH9DZ3K+xYUtno1PxegnoXDQxPJ1MQUQAJClrWJy+lrb2kg6ZruZuLXs1rkRX47o0tbQ17ij46suvsI6FKQcoJExEKBfISSDYKMoTyg1DCQdrHN6hTCyUK0+QUkAfSEpZoFGOgEBKgJmAA4ISMxIkx4IrV4ZCwkSEcoGcBIKNojyh3DCUcLDG4R3KxEK58gQpBfSBpJQFGuUICKQEmAk4ICgxI0FyLLhyZSgkTEQoF8hJINgoyhPKDUMJB2sc3qFMLJQrT5BSQB9ISlmgUY6AQEqAmYADghIzEiTHgitXhkLCRIRygZwEgo2iPKHcMJRwsMbhHcrEQrnyBCkF9IGklAUa5QgIpASYCTggKDEjQXIsuHJlKCRMRCgXyKkttL/RX1Zrc8/2hzQ2Ohuvj3Q2XiXT2ehWtCz6Fr2LJlZsTUszYZJFLKWv0RHpa3S1tDV2a/RM+xqXSVfjylyfG1r4+quvv4YDAjkggEYIISVYN4HBouQOoMYHEckpO1BgmFyKAlDz2pBAtM5A6EgcwBgxg1hUZxgtQwk4bEghChDIAQE0QggpwboJDBYldwA1PohITtmBAsPkUhSAmteGBKJ1BkJH4gDGiBnEojrDaBlKwGFDClGAQA4IoBFCSAnWTWCwKLkDqPFBRHLKDhQYJpeiANS8NiQQrTMQOhIHMEbMIBbVGUbLUAIOG1KIAgRyQACNEEJKsG4Cg0XJHUCNDyKSU3agwDC5FAWg5rUhgWidgdCROIAxYgaxqM4wWoYScNiQQhQgkAMCaIQQUoJ1ExgQNNEeR3Ohy9DY7Gy+jfoumr7WHdv0tfdsazY2Gph9DJeiZIZgCX3tvfY1tmu8hX7Ah2u0yo9omXY1LsT1aGr2tHQ17kn88Y/Q14v+SMqAEywKAhI2SNgVFDgAIbrCESRYGzhhqo8kHAasAoUGrEAwQEAyEWGUdFgi1JUMtIwzBggrYJEpA06wKAhI2CBhV1DgAIToCkeQYG3ghKk+knAYsAoUGrACwQAByUSEUdJhiVBXMtAyzhggrIBFpgw4waIgIGGDhF1BgQMQoiscQYK1gROm+kjCYcAqUGjACgQDBCQTEUZJhyVCXclAyzhjgLACFpky4ASLgoCEDRJ2BQUOQIiucAQJ1gZOmOojCYcBq0ChASsQDBCQTEQYJR2WCHUlAy3jjAHCClhkyoATLAoCEjZI2AV0E43Glk3bF+lsfEvZxmZfY8OWxkaDsq1lv2ZfE7SyIIqW5tBY4W6NtkZf41jaGvs12xp7tbY1vrP4nJYm6Gm2NG6POz7wjS4t7ISIJcfhRDxsxpA1YY4MsUxiDBR1GXI0ghDH5KjBklMMNcxBcJ6liTFK0qEcOccXJqTwQHFkYCdELDkOJ+JhM4asCXNkiGUSY6Coy5CjEYQ4JkcNlpxiqGEOgh/PD5oYoyQdypFzfGFCCg8URwZ2QsSS43AiHjZjyJowR4ZYJjEGiroMORpBiGNy1GDJKYYa5iD4X/r8gE5nr6O12NxobGltaWzrVbQ7thcv6VJu17DV12xnNrQD1HgNZQFdzb5GN6Srpa3R12iV6Wrs1rJZ44q0tDY14Y3h3+K3sPatkwcsAcM4doLZ8oXoIYMu9cytBQgsIP7xm29hFYgk4CdM2nA60UlFftvDF51XLjyttPZ4fuiAJWAYx04wW74QPWTQpZ65tQCBBcTH8+eudXgCfsKkDacTnVTkP+P5T82NvtbG1r4276K0NbZs9DUbmxs2mhV9DXvGvoyBLQpsa/Y1lqy2Rl+jrdHX2K2xXfvkk8/YrdE+udp0Ne4gd+xt8dhixQNH5VAHvsOf4LtT9bu7h+Vk2Ak5hlIt+Tf4nCx0RgqhhUuykXMVXbAKE1vcmOoJR+VQB24OL3rLxeP57x2Wk2En5BhKteSP5zdKZlekEFq4JBs5V9EFqzCxxY2pnnBUDnXgeng6iaCxZM9Gq3HHRmujr6WxfeSbKDu29LUX9jWalvs1G1tsO6AuWMHC9LV5C2W3xmuobY2WaVtjr8b1dlPjVgp+fN8BbjTM/RIjvicKtI7FhfHb72VihuBQR/Htd+v4YtVTXUljGTwVCxQwkYsUW014AuqYWGHigVXoufAugR7PTxRoHYsL4+P5ZWKG4FBH8X/r+QVtzb5mZ6O32dm6ZWtf64aNHZuNzRdRwIaM5kVTo5OFRgKUc2lsrLax2dbsa7a1voT6Dsp1aGq2NS5PX+NevvcZuPvvRRmkwv2qcHRJC2GCGnWgSAjUTFBkIBnAYC2JoQIoSFNCx6AdFHGMZStAOjmxrsYpkzE0YcgEg0hCnBARnATFTGAIQkgLYYIadaBICNRMUGQgGcBgLYmhAihIU0LHoB0UcYxlK0A6ObGuximTMTRhyASDSEKcEBGcBMVMYAhCSAthghp1oEgI1ExQZCAZwGAtiaECKEhTQsegHRRxjGUrQDo5sa7GKZMxNGHIBINIQpwQEZwExUxgCEJIC2GCGnWgSAjUTFBkIBnAYC2JoQIoSFNCx6AdFHGMZStAOjmxrsYpkzE0YcgEg0hCnBARnATFTGAIQkgLYYIadRCR/gbS2Whrbtn6LkoDyt89WBs2/54ojaqNzR2bGzY6Gb3sCLQ0nGnaGo3tRfray7S16Wuf+NkaV3C3xutvuhrXp6P1rr7//ocfvv+BEBEHCTrINBYwoZQZWJMJizFBwICsQy4dQzI0suZBYwjtPEJMpOKwHCLBQzjEACgcji1vDSRKVAwRcZCgg0xjARNKmYE1mbAYEwQMyDrk0jEkQyNrHjSG0M4jxEQqDsshEjyEQwyAwuHY8tZAokTFEBEHCTrINBYwoZQZWJMJizFBwICsQy4dQzI0suZBYwjtPEJMpOKwHCLBQzjEACgcji1vDSRKVAwRcZCgg0xjARNKmYE1mbAYEwQMyDrk0jEkQyNrHjSG0M4jxEQqDsshEjyEQwyAwuHY8tZAokTFEBEHCTrINBYwoZQZGImgm9DZbG18Knd0tryJumOjr7Fhs63R1+xstKu0NRoboJPR0cBISqe2lu3ay27XPuJbA9saXS27Nbra7NXa02xqPPzgxx9+xBCl21Ds9ay9h+9P5ZMUSaGeokwqEkKXcnC60PdOzD0CZ360RrwFJWdEeeGaBVPiPBiidBuK3h9g7T08nh8anKRICvUUZVKRELqUg9OF8kRzj8CZx/OTEm9ByRlRXrhmwZQ4D4Yo3Yai9wdYe0G7Gy3FxkaHcdNmZ9s7NvoajY0dm43NF1F2bDQs+hbdiw5mK4uDBGoife2956z34zXbGtu1fGmQl1Aa52prbWrcBTcjeBqRiOHyUFggzhOZ0YsKc2xcLqKkP/34Jy6YKYz0BAsbWXIP+5DLvOeEYweShITiOC2xiR4kxXB5KCwQ54nM6EWFOTYuF1HS4/kfzw/UGOkJFjay5B72IZd5zwnHDiQJCcVxWmITPUiK4fJQWCDOE5nRCwT3YE+Zzsb3qO1sNLbPP/v8M/ZrbNj4jM22tvraNDbbWlrZNDSNQU+jq9nXWMd62tor2tr0NdoafW12a/Y19ol8oAm4Ee80P6kQgR88kHAMX8ysK3AoI3UNoKMsBoqYMB1DjnVgDBAFQwhDTdeoaClUwFAMbelgCINAAgZFAdI1BDFQAQnH8MXMugKHMlLXADrKYqCICdMx5FgHxgBRMIQw1HSNipZCBQzF0JYOhjAIJGBQFCBdQxADFZBwDF/MrCtwKCN1DaCjLAaKmDAdQ451YAwQBUMIQ03XqGgpVMBQDG3pYAiDQAIGRQHSNQQxUAEJx/DFzLoChzJS1wA6ymKgiAnTMeRYB8YAUTCEMNR0jYqWQgUMxdCWDoYwCCRgUBQgXUMQAxWQcAxfzKwrcCgjdS1oa6O5sWmixbBpo6/5KmpjY8eWX2LjRXT9qgdtjX61+1q6WTGRGmhf4zWUtsZbKI1tPl079TU6KBfsXg3knri7W/z4Z+hPpXLsFn9mcsoGskRg0CFHseKGBaYJGFCNFIcaDR13S/IUFj0L9rtg3mVw7BaP54c68XvLHs/P3ROBgSwRGHTIUay4YYFpAgZUI8WhRkP/rs9f0NzS2nwfpc+ksdHZ8ibqiyh97fL331djY19GW8NlRixOV0tf67cGNrZpa/Q1NoF0Nb8JZbPml6D2Na7OTXAr3A73xi3++S/4DVKXY5DoaqIuFXteXJJbZGpf7XbpbX6AOiYIswzKPeR0UytOcrCmc8DgJHOKKzoLxyCxDjcsDfa8uCS3yNS+2u3S2/wAdUwQZhmUe8jpplac5GBN54DBSeYUV3QWjkFiHW5YGux5cUlukal9tdult/kB6pggzDIo95DTTa04ycGazgGDk8wprugsHIPEOtywNNjz4pLcIlP7ardLb/MD1DFBmGVQ7iGnm1pxkoM1nQMGJ5lTXNFZOAaJdbhhaRWgpbBto7HR1+hsNDZeEf3uwMbGmyifsLFhe/8D+hpfHdCs6GttaxiNTBA0UpwJ2pqNzb7GPu993kJ5DWXv56dr+SqUS/ASyibx1Na4LYxH4qGwcUdBHPsLBKuJGJKAdEoPkIzmKABFJoIJFADzjXEGSCAP0GTmcSpQBxWAQIokoydjRIAQaBoCZsih5Y6COMZCWU3EkASkU3qAZDRHASgyEUygAJhvjDNAAnmAJjOPU4E6qAAEUiQZPRkjAoRA0xAwQw4tdxTEMRbKaiKGJCCd0gMkozkKQJGJYAIFwHxjnAESyAM0mXmcCtRBBSCQIsnoyRgRIASahoAZcmi5oyCOsVBWEzEkAemUHiAZzVEAikwEEygA5hvjDJBAHqDJzONUoA4qAIEUSUZPxogAIdA0BMyQQ8sdBXGMhbKaiCEJyExhND6QDxDpL9+nr3XHZl/7fDZs9jX3a3whSrNKX7Oz0cvoZoB+FpAL2hqNjaYG6Gp7v8Z2bf2Kh7u1b46uxj3Y0rglELqDU/11si5foHbBbf4WdFk4dMJrxkav9fpUAZNNGLAyhdAdMH9njurT4gWsWGAl2eP5kRvULrjN34IuC4dOeDz/qdJr/Wc8v52N3ibYsPEq6p4tfY1P2L5kv8aGzb52fRHlkzMbW7Zru6HZ0RSAGTob7S8fr9HXODjbtU/8ldy0NXdrfGdAX7Or2de4D+7Se/tzfnj4a1AKRzNPhhdWcElL4fXrNzgwtUCA8AJVAyyIIXAljiRhBAbLwsggkfUUdVgPEKqyMcaIxWUQbpL5NzhGCScOhaNZS4YXVnBJS4Gz4MDUAgHCC1QNsCCGwJU4koQRGCwLI4NE1lPUYT1AqMrGGCMWl0G4SeYfz6/AIWxROJq1ZHhhBZe0FDgLDkwtECC8QNUAC2IIXIkjSRiBwbIwMkhkPUUd1gOEqmyMMWJxGYSbZP5/5/kV9BG6mt7ORmObzpbGxosob6Jrw8aOjQ0br5g0rt3VIGw5RfuabY216Wt0tbQ1+hr7tc/9dC3fGWS7lqbGDdjVhHf1+g1jA4kNRk3Y8DBA+Q2+MFXKjoVDLT3cMNk9rPNtHEuPC4x6c6xuHl4gwQaHAknmHAUSG4yasDHXony+zlQpOxYOtfRww2T3sM63cSw9LjDq8fx7dfPwAgk2OBRIMucokNhg1ISNuRbl83WmStmxcKilhxsmu4d1vo1j6XGBUf/S56ePCLZsNLZ+yNZXUfsab6LdsPEBm/9/qulrdKujsb3zLp3snTiJTpG2lsbGZ3G8hrpfo6/Nb3nw8ZrbNV5D7Wvs1tiu8ZVHmtpr4G29gYlxWMMBHGNgFETkThwkGK4yIkIkGyTYFDNPPoMEpmIUKxs0oRgRIiSjCJPgGUJm2lTCJGt4BjAJVh6HNRzAMQZGQUTuxEGC4SojIkSyQYJNMfPkM0hgKkaxskETihEhQjKKMAmeIWSmTSVMsoZnAJNg5XFYwwEcY2AUROROHCQYrjIiQiQbJNgUM08+gwSmYhQrGzShGBEiJKMIk+AZQmbaVMIka3gGMAlWHoc1HMAxBkZBRO7EQYLhKiMiRLJBgk0x8+QzSGAqRrGyQROKESFCMoowCZ4hZKZNJUyyhmcAk2DlcVjDARxjYBRE5E5IF+go7Jb+zIdsP9LWumGbvkZjY8P2cf87bGzY1nson5+xKXsXvPMOBspG21o+Xnvuds1vQ7NhS1ujr/FtaN5CbWv0NZopPdW+xp2IN4Of8CeY4k9ZNckVp2JXbTiDY2LCBT/dK57B/OufYOLCHHO91CzoQv0OTuWuu8Gd0i72ySa54lTsqg1ncExMuGCe5e1g/vH8MHFhjrleahZ0oX4Hp3LX3eBOaRf7ZJNccSp21YYzOCYmXDDP8nYw/x/y/DSSNDY7m1+MsmH7wW9F09i+/PJz+pobNt9D7Ws0Nvoar5irr70DYGIoGtDZ2K+xY2tjo62xXfvkD+lrX31JW0tf8zsDrmlXS19785qfGuA5+XHhQVMiE0EKZIlixFDCwIwci4c4TsDLIMKOCQsrSQwZFDjG+gRjBNFTVMI1kBoWF53NIqNMSBwPqMHETIEUyBLFiKGEgRk5Fg9xnICXQYQdExZWkhgyKHCM9QnGCKKnqIRrIDUsLjqbRUaZkDgeUIOJmQIpkCWKEUMJAzNyLB7iOAEvgwg7JiysJDFkUOAY6xOMEURPUQnXQGpYXHQ2i4wyIXE8oAYTMwVSIEsUI4YSBmbkWDzEcQJeBhF2TFhYSWLIoMAx1icYI4ieohKugdSwuOhsFhllQuJ4QA0mZgqkQJYoRgwRmHtDM7Gz0dba2NywTV9zw9YX0Y/45uD9D/r/OaCrta8FtDHamWwk4LQ8GhtdbX7LY/qabS2/vEZfy5cGtDV2a3y2Rl99Ld4A7u0OfvZ2n+BnXGQuSQgYW1Xdw6pn1SaqY/hb8DNDu4GHX8uXBJjrBX8CK1nx7Xg8f05/g3Vc5pKEgLFV1T2selZtojqGvwWP52cOu4GHX8uXBJjrxT/u+Tkz1Mb2ms6Wz9jYsdHXaGz5VY/9AVv3a2y/9n5N0NjetaM5MIbGxPO9X7Ot8W2o3xt8+gnbNV5D+dKAvmZbY7NGW2O/lr42Xc17w38uFCmo42HRkAyyjhVU0BIrgCUkTEgSS5JpLCAxRSjhBswaoQYN0CQagBSUDUbYqGeRqhUCFuqcRL5ShFCkoI6HRUMyyDpWUEFLrACWkDAhSSxJprGAxBShhBswa4QaNECTaABSUDYYYaOeRapWCFiocxL5ShFCkYI6HhYNySDrWEEFLbECWELChCSxJJnGAhJThBJuwKwRatAATaIBSEHZYISNehapWiFgoc5J5CtFCEUK6nhYNCSDrGMFFbTECmAJCROSxJJkGgtITBFKuAGzRqhBAzSJBiAFZYMRNupZpGqFgIU6J5GvFCEUKajjYdGQDLKOAYqAbpK+RmOjybhhs7HNhs0X0Xwh6psoe698cTB9jQZGG6OPsVGjpeElpp49Z7/G1wYv+d5g9zX/EtXnX/gX3mlrbAr5LtTGRld7Dd7Q1NrWuC9u7pc+QFDxCw6arBCgMecJF5D/ZJ2AD05SNJW78j6cBxPesnJmwU9dsgsKvSQUp2c8J8bH8ycEFTnhSlYI0JjzhAvIH89PJOCDkxRN5a68D+fBhLesnFnwL31+DhVvaGy0NjobjW02bHwlyn7NDVs/YGPDxn5t+tqL58+fge7VNBCmQl9717ZmX2N39/L9V/ntNfsar6Hs1/qtgX3NrmZbc7f2RnAvvTHwi7c5viy1A0fGVCY1IgGXQQMpApMcRl0GO+wbEK3CGOAUnp4MuoAcg5iKqDQoDixtEYdPOGdMQvVlqR04MqYyqREJuAwaSBGY5DDqMtjh8fwntApjgFN4ejLoAnIMYiqi0qA4sLRFHD7hnDEJ1ZelduDImMqkRiTgMmggRWCSw6jLYIf/hue3s9Ha6Cj+tsls2Nixrb6WF1H72h+uX4iyX3vOtoweZjfTF2h0NDZhY6OtZb/Gx2uXvsZb6Lff/eCvrmW79pc3aWvpafR5MOTAerPjJwqY7gKx4gjOB5MkkEINerixCo1JBAxakjOhiYxhrMiEsJwEcvzyK44BjgYkDgFrOusoGMGJXYqAYEL9RAHTXSBWHOElAQtg4hH0cGMVGpMIGLQkZ0ITGcNYkQlhOQnkeDw/jgGOBiQOAWs66ygYwYldioBgQv1EAdNdIFYc4SUBC2DiEfRwYxUakwgYtCRnQhMZw1iRCWE5CeT4Vz0/VxLT2Nix8UkXfe1H/0O6fMLWvkZjY7/GB2zZsO2+Rueir9HFaGZBFV0tfY3GNx+v5ddy/Z+G9jU0H6/R13gL5eM1tmt8Ffr6tX0tbQ1wc729A83h+QEkEAODpZ9bRT0BJxXloqvgMRzAXB0+MAc1OINjgIseJ16ljZMUzuv/I/RccM7AdWFjYLC0bnvCGcdtbnQVPIYD+PH860TFHNTgDI4BLnqceJU2TlI4r/+P0HPBOQPXhY2BwdK67QlnHLe50VXwGA7g//jnJwF0NUBboa29pq2xYcsnbH7AZl9zw+Z+zRfR/Gbuixe0tTQ2XjjtZXphmxP0NRobbS3fh3a/xnYtfY2P1+hr337LNexrf/7TegvlLviRckPc1K8MINXliRjEnwMCCxIpgZkRBp0aToTW0O7Ces/huCJ5ylg8hHMAweMI9dIB52A8RJqAb1BroXOhujwRg1iKwIJESmBmhEGnhhOhNbS7sN5zOK5InjIWD+EcQPA4Qr10wDkYD5Em4BvUWuhcqC5PxCCWIrAgkRKYGWHQqeFEaA3tLqz3HI4rkqeMxUM4BxA8jlAvHXAOxkOkCfgGtRY6F6rLEzGIpQgsSKQEZkYYdGo4EVpDuwvrPYfjiuQpY/EQzgEEjyPUSwecg/EQaQK+Qa2FzoXq8kQMYikCCxIpgdTtIuyQaCl0NnZNs2HzEzb2a7yInvratLVs12hr9DVAJ2NoeFgw8Yy29h5tzb7Gfu1Dvg21r33ma+gf//it+zXa2o9c79TWbGnCO+T+wgkwEcgk
[...]
