openapi: 3.0.3
servers: 
  - url: https://api.sensible.so/v0
    description: Production server (uses live data)
info:
  title: Document Type
  version: 0.0.1
  description: document types and configurations
  license: # TODO: fill in
    name: Sensible API
    url: https://www.TBD.org/licenses/LICENSE-2.0.html
paths:
  /document_types:
    get:
      operationId: list_document_types
      summary: Retrieve all document types for the current account
      tags:
      - Configuration
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllDocumentTypes'
          description: List of document types for the current account
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: './components/responses.yml#/401' 
        415:
          $ref: '#/components/responses/415'
        500:
          $ref: '#/components/responses/500'
    
components:
  parameters:
    DocumentTypeId: #do I really need this? get rid of it? 
      name: id
      required: true
      in: path
      description: unique document type identifier in v4 UUID format
      schema:
        $ref: '#/components/schemas/UniqueId'
    ArtifactName:
      name: name
      required: true
      in: path
      description: unique name for an internal artifact
      schema:
        $ref: '#/components/schemas/Name'
    VersionIdentifier:
      name: version
      required: true
      in: path
      description: unique identifier for a configuration version
      schema:
        type: string
  schemas:
    UniqueId:
      type: string
      format: uuid
      description: unique identifier
    Name:
      type: string
      pattern: ^[a-z0-9_]*$
      minLength: 3
      maxLength: 128
      description: user-friendly name
    
    GetAllDocumentTypes:
      type: array
      items: 
        type: object
        properties:
          name:
            $ref: '#/components/schemas/Name'
          id:
            $ref: '#/components/schemas/UniqueId'
          #created: 
            #$ref: '#/components/schemas/Date'
        required:
          - name
          - id
          #- created
        additionalProperties: false
   

  responses:
    400:
      description: blah
      content:
        text/plain:
          schema:
            title: Unauthorized
            type: string
    404:
      description: Not Found
      content:
        text/plain:
          schema:
            title: Not Found
            type: string
    415:
      description: Unsupported Media Type
      content:
        text/plain:
          schema:
            title: Unsupported Media Type
            type: string
    500:
      description: Internal Server Error
      content:
        text/plain:
          schema:
            title: Sensible encountered an unknown error
            type: string
  securitySchemes:
    bearerAuth:       # arbitrary name for the security scheme
      type: http
      scheme: bearer
      description: |
        Sensible uses API keys to authenticate requests. You should have received a key as a part of onboarding, 
        but if you're having trouble with your current key, please reach out to support@sensible.so. 
        Keep your API keys secure and do not share them publicly accessible areas such as GitHub, client-side code, etc.
        Authentication to the API is performed via Bearer Authentication. Provide your API key as the bearer auth value.
# Apply the auth globally to all operations
security:
  - bearerAuth: []