{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.sensible.so/v0",
      "description": "Production server (uses live data)"
    }
  ],
  "info": {
    "title": "Email processors",
    "version": "0.0.1",
    "description": "Sensible API for managing email processors.",
    "license": {
      "name": "Sensible API",
      "url": "https://www.TBD.org/licenses/LICENSE-2.0.html"
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Email processor",
      "description": "Create and manage email processors.\n\nAn email processor defines what Sensible extracts from emails sent to a dedicated Sensible email address. Once you create a processor, send emails to the address to trigger automatic extraction.\n\n**Email address format**\n\n```\n{processor_name}.{account_alias}@{domain}\n```\n\nTo include an environment prefix (for example, to route emails to a non-production webhook):\n\n```\n{environment}.{processor_name}.{account_alias}@{domain}\n```\n\nTo find your `account_alias` values and `domain`, call `GET /account`. The response includes an `aliases` array of active account aliases and a `domain` field (for example, `api.sensible.so`)."
    }
  ],
  "paths": {
    "/processors/email": {
      "get": {
        "operationId": "list-email-processors",
        "summary": "List email processors",
        "description": "Lists all active email processors for this account.",
        "tags": [
          "Email processor"
        ],
        "responses": {
          "200": {
            "description": "List of active email processors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailProcessorOutput"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/processors/email/{name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/processorName"
        }
      ],
      "get": {
        "operationId": "get-email-processor",
        "summary": "Get email processor",
        "description": "Retrieves an email processor by name.",
        "tags": [
          "Email processor"
        ],
        "responses": {
          "200": {
            "description": "The requested email processor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailProcessorOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "operationId": "upsert-email-processor",
        "summary": "Create or update email processor",
        "description": "Creates an email processor with the given name, or replaces it if one already exists. You define which document types Sensible extracts from the email body and attachments, and which webhooks receive the extraction output.\n\nWhen updating an existing processor, you can replace any combination of `webhooks`, `bodySpec`, and `attachmentSpecs`. The processor name is set by the URL path and cannot be changed. To rename a processor, delete it and create a new one under the desired name.\n\nOnce created, send emails to `{name}.{account_alias}@{domain}` to trigger extraction. To route emails to a specific environment's webhook, prepend an environment prefix: `{environment}.{name}.{account_alias}@{domain}`. Call `GET /account` to retrieve your account aliases and domain.",
        "tags": [
          "Email processor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailProcessorInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created or updated email processor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailProcessorOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "operationId": "delete-email-processor",
        "summary": "Delete email processor",
        "description": "Deletes an email processor. If no processor with the given name exists, Sensible takes no action.",
        "tags": [
          "Email processor"
        ],
        "responses": {
          "200": {
            "description": "Processor deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EmailProcessorInput": {
        "description": "Configuration for an email processor. You must specify at least one of `bodySpec` or `attachmentSpecs`.",
        "type": "object",
        "required": [
          "webhooks"
        ],
        "additionalProperties": false,
        "properties": {
          "webhooks": {
            "description": "Required. Webhooks receive the extraction output for each email processed. Webhooks are required because source email metadata — the sender address, subject line, message ID, and recipient list — is only available in the webhook payload. You can view extraction field values through the Sensible app and API, but you cannot trace an extraction back to its source email without a webhook.",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookList"
              }
            ]
          },
          "bodySpec": {
            "description": "Extraction spec for the email body. The email body is always treated as a single document type — classification and portfolio specs are not supported for the body. Omit if you only need to extract from attachments.",
            "allOf": [
              {
                "$ref": "#/components/schemas/SingleDocTypeSpec"
              }
            ]
          },
          "attachmentSpecs": {
            "type": "array",
            "minItems": 1,
            "description": "Extraction specs for email attachments. Each spec targets one attachment and supports single document type, classification, or portfolio strategies. Omit if you only need to extract from the email body.",
            "items": {
              "$ref": "#/components/schemas/AttachmentSpec"
            }
          }
        }
      },
      "EmailProcessorOutput": {
        "description": "An email processor returned by the API.",
        "type": "object",
        "required": [
          "name",
          "created",
          "webhooks"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The processor's unique name within the account."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO 8601 timestamp when Sensible created the processor."
          },
          "webhooks": {
            "$ref": "#/components/schemas/WebhookList"
          },
          "bodySpec": {
            "description": "The extraction spec configured for the email body, if present.",
            "allOf": [
              {
                "$ref": "#/components/schemas/SingleDocTypeSpec"
              }
            ]
          },
          "attachmentSpecs": {
            "type": "array",
            "description": "The extraction specs configured for email attachments.",
            "items": {
              "$ref": "#/components/schemas/AttachmentSpec"
            }
          }
        }
      },
      "WebhookList": {
        "type": "array",
        "minItems": 1,
        "description": "Webhooks that receive extraction output. The first element must be a production `Webhook` (a `url` with no `environment` field). Additional elements must be `EnvironmentWebhook` objects that override the production webhook for a specific environment. The API rejects arrays whose first element is an `EnvironmentWebhook`. Note: OpenAPI 3.0.3 cannot enforce positional constraints in arrays, so schema validators will not catch this ordering violation.",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/Webhook"
            },
            {
              "$ref": "#/components/schemas/EnvironmentWebhook"
            }
          ]
        }
      },
      "Webhook": {
        "description": "The production webhook. Sensible sends extraction output to this URL unless an environment-scoped webhook matches the extraction environment.",
        "type": "object",
        "required": [
          "url"
        ],
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL Sensible posts extraction output to."
          }
        }
      },
      "EnvironmentWebhook": {
        "description": "An environment-scoped webhook. Sensible sends extraction output to this URL when the extraction environment matches `environment`.",
        "type": "object",
        "required": [
          "url",
          "environment"
        ],
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL Sensible posts extraction output to."
          },
          "environment": {
            "type": "string",
            "description": "The environment this webhook applies to, for example `\"development\"` or `\"staging\"`."
          }
        }
      },
      "AttachmentSpec": {
        "description": "Defines how Sensible handles one email attachment. Use `kind` to specify whether Sensible extracts against a single document type, classifies across multiple types, or treats the attachment as a portfolio.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/SingleDocTypeSpec"
          },
          {
            "$ref": "#/components/schemas/ClassificationSpec"
          },
          {
            "$ref": "#/components/schemas/PortfolioSpec"
          }
        ],
        "discriminator": {
          "propertyName": "kind",
          "mapping": {
            "doctype": "#/components/schemas/SingleDocTypeSpec",
            "classification": "#/components/schemas/ClassificationSpec",
            "portfolio": "#/components/schemas/PortfolioSpec"
          }
        }
      },
      "SingleDocTypeSpec": {
        "description": "Extracts against a single document type.",
        "type": "object",
        "required": [
          "kind",
          "docTypeId"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "doctype"
            ]
          },
          "docTypeId": {
            "type": "string",
            "description": "The ID of the document type Sensible extracts against."
          }
        }
      },
      "ClassificationSpec": {
        "description": "Classifies the attachment across multiple document types before extracting.",
        "type": "object",
        "required": [
          "kind",
          "docTypeIds"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "classification"
            ]
          },
          "docTypeIds": {
            "type": "array",
            "minItems": 1,
            "description": "The IDs of the document types Sensible classifies the attachment against.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PortfolioSpec": {
        "description": "Treats the attachment as a portfolio — a single file containing multiple documents — and extracts each sub-document separately.",
        "type": "object",
        "required": [
          "kind",
          "docTypeIds"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "portfolio"
            ]
          },
          "docTypeIds": {
            "type": "array",
            "minItems": 1,
            "description": "The IDs of the document types Sensible extracts from each sub-document in the portfolio.",
            "items": {
              "type": "string"
            }
          },
          "ocrEngine": {
            "type": "string",
            "enum": [
              "amazon",
              "google",
              "lazarus",
              "microsoft",
              "microsoft5",
              "pdf"
            ],
            "description": "The OCR engine Sensible uses to process the portfolio. If unspecified, Sensible uses the document type's configured OCR engine."
          },
          "segmentDocumentsWith": {
            "type": "string",
            "enum": [
              "llm",
              "fingerprints"
            ],
            "description": "The segmentation method Sensible uses to split the portfolio into sub-documents. For more information, see [portfolio](doc:portfolio)."
          },
          "ocrEveryPage": {
            "type": "boolean",
            "description": "Specifies whether Sensible runs OCR on every page of the portfolio, including pages that contain native text. Defaults to false."
          }
        }
      }
    },
    "parameters": {
      "processorName": {
        "name": "name",
        "in": "path",
        "required": true,
        "description": "The processor name. Must consist of lowercase letters, numbers, and underscores.",
        "schema": {
          "type": "string",
          "pattern": "^[a-z0-9_]+$"
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request",
        "content": {
          "text/plain": {
            "schema": {
              "title": "Bad Request",
              "type": "string",
              "example": "Invalid processor name. Must consist of lowercase letters, numbers, and underscores."
            }
          }
        }
      },
      "401": {
        "description": "Not authorized",
        "content": {
          "text/plain": {
            "schema": {
              "title": "Unauthorized",
              "type": "string",
              "example": "Unauthorized"
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "text/plain": {
            "schema": {
              "title": "Forbidden",
              "type": "string",
              "example": "This endpoint requires at least one active account alias."
            }
          }
        }
      },
      "404": {
        "description": "Not Found",
        "content": {
          "text/plain": {
            "schema": {
              "title": "Not Found",
              "type": "string"
            }
          }
        }
      },
      "500": {
        "description": "Internal Server Error",
        "content": {
          "text/plain": {
            "schema": {
              "title": "Sensible encountered an unknown error",
              "type": "string",
              "example": "Sensible encountered an unknown error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Sensible uses API keys to authenticate requests. Keep your API keys secure and do not share them publicly accessible areas such as GitHub, client-side code, etc. Authentication to the API is performed via Bearer Authentication. Provide your API key as the bearer auth value."
      }
    }
  }
}