{"openapi":"3.1.0","info":{"title":"sensible","version":"1"},"servers":[{"url":"https://api.sensible.so/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer","x-default":"BEARER_TOKEN"}}},"security":[{"sec0":[]}],"paths":{"/v1/extract/{type}":{"post":{"summary":"Extract data from a document","description":"","operationId":"extract-data-from-a-document-1","parameters":[{"name":"type","in":"path","description":"The document type of the PDF to extract from. Create the type in the Sensible app (for example, `rate_confirmation`, `certificate_of_insurance`, or `home_inspection_report`).  As a convenience, Sensible automatically detects the best-fit extraction from among the extraction queries (\"configs\") in the document type.  For example, if you create an `auto_insurance_quotes` type, you can add `carrier 1`, `carrier 2`, and `carrier 3` configs to the type in the Sensible app so that you can extract data from all these carriers using the same `type`, without specifying the carrier in the API request.","schema":{"type":"string"},"required":true},{"name":"environment","in":"query","description":"If unspecified, defaults to production. If you specify `development`, extracts preferentially using config versions published to the development environment in the Sensible app. The extraction runs all configs in the doc type before picking the best fit. For each config, falls back to production version if no development version of the config exists.","schema":{"type":"string","enum":["development","production"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document"],"properties":{"document":{"type":"string","description":"There are two options for posting the PDF bytes: 1. Base64 encode the PDF bytes, specify them in a body \"document\" field, and specify application/json for the content type. 2. (often preferred): specify the non-encoded PDF bytes as the entire request body, and specify the content-type as \"application/pdf\"."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"246a6f60-0e5b-11eb-b720-295a6fba723e\",\n   \"created\":\"2020-11-16T17:30:00.946Z\",\n   \"type\":\"rate_confirmation\",\n   \"configuration\":\"anyco\",\n   \"status\":\"COMPLETE\",\n   \"parsed_document\":{\n      \"weight\":{\n         \"source\":\"0.0lbs\",\n         \"value\":0,\n         \"unit\":\"pounds\",\n         \"type\":\"weight\"\n      },\n      \"distance\":{\n         \"source\":\"193mi\",\n         \"value\":193,\n         \"unit\":\"miles\",\n         \"type\":\"distance\"\n      },\n      \"load_number\":{\n         \"type\":\"string\",\n         \"value\":\"WK91242\"\n      },\n      \"carrier_email\":null,\n      \"price\":{\n         \"source\":\"$695.00\",\n         \"value\":695,\n         \"unit\":\"$\",\n         \"type\":\"currency\"\n      },\n      \"pickup_date\":null\n   },\n   \"validations\":[\n      {\n         \"description\":\"weight should be over 10 lbs\",\n         \"severity\":\"warning\"\n      },\n      {\n         \"description\":\"carrier email must be in format string@string\",\n         \"severity\":\"skipped\",\n         \"message\":\"Missing prerequisites: carrier_email\"\n      }\n   ],\n   \"validation_summary\":{\n      \"fields\":6,\n      \"fields_present\":4,\n      \"errors\":0,\n      \"warnings\":1,\n      \"skipped\":1\n   },\n   \"classification_summary\":[\n      {\n         \"configuration\":\"anyco\",\n         \"fingerprints\":2,\n         \"fingerprints_present\":2,\n         \"score\":{\n            \"value\":3.5,\n            \"fields_present\":4,\n            \"penalties\":0.5\n         }\n      },\n      {\n         \"configuration\":\"acme_co\",\n         \"fingerprints\":2,\n         \"fingerprints_present\":2,\n         \"score\":{\n            \"value\":0.5,\n            \"fields_present\":2,\n            \"penalties\":1.5\n         }\n      }\n   ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"246a6f60-0e5b-11eb-b720-295a6fba723e"},"created":{"type":"string","example":"2020-11-16T17:30:00.946Z"},"type":{"type":"string","example":"rate_confirmation"},"configuration":{"type":"string","example":"anyco"},"status":{"type":"string","example":"COMPLETE"},"parsed_document":{"type":"object","properties":{"weight":{"type":"object","properties":{"source":{"type":"string","example":"0.0lbs"},"value":{"type":"integer","example":0,"default":0},"unit":{"type":"string","example":"pounds"},"type":{"type":"string","example":"weight"}}},"distance":{"type":"object","properties":{"source":{"type":"string","example":"193mi"},"value":{"type":"integer","example":193,"default":0},"unit":{"type":"string","example":"miles"},"type":{"type":"string","example":"distance"}}},"load_number":{"type":"object","properties":{"type":{"type":"string","example":"string"},"value":{"type":"string","example":"WK91242"}}},"carrier_email":{},"price":{"type":"object","properties":{"source":{"type":"string","example":"$695.00"},"value":{"type":"integer","example":695,"default":0},"unit":{"type":"string","example":"$"},"type":{"type":"string","example":"currency"}}},"pickup_date":{}}},"validations":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","example":"weight should be over 10 lbs"},"severity":{"type":"string","example":"warning"}}}},"validation_summary":{"type":"object","properties":{"fields":{"type":"integer","example":6,"default":0},"fields_present":{"type":"integer","example":4,"default":0},"errors":{"type":"integer","example":0,"default":0},"warnings":{"type":"integer","example":1,"default":0},"skipped":{"type":"integer","example":1,"default":0}}},"classification_summary":{"type":"array","items":{"type":"object","properties":{"configuration":{"type":"string","example":"anyco"},"fingerprints":{"type":"integer","example":2,"default":0},"fingerprints_present":{"type":"integer","example":2,"default":0},"score":{"type":"object","properties":{"value":{"type":"number","example":3.5,"default":0},"fields_present":{"type":"integer","example":4,"default":0},"penalties":{"type":"number","example":0.5,"default":0}}}}}}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"One of the following error messages:\n\nMust specify a document type\nSpecified document type does not exist\nMust provide the Content-Type header when request body is present\nMissing request body or body.document\nBody must be a valid JSON object\nThis PDF is invalid. If you submitted this PDF using Base64 encoding, please check that the encoding is correct\nThis PDF is empty\nThis PDF exceeds the maximum dimensions for OCR of 17 x 17 inches\nThis PDF exceeds the maximum size for OCR of 20MB"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"Unauthorized"}}}}},"415":{"description":"415","content":{"text/plain":{"examples":{"Result":{"value":"Content-Type must be application/json or application/pdf"}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Result":{"value":"Sensible encountered an unknown error while parsing this document"}}}}}},"deprecated":false}},"/v1/extract_from_url/{type}":{"post":{"summary":"Extract doc at your URL","description":"","operationId":"provide-a-download-url-1","parameters":[{"name":"type","in":"path","description":"The document type of the PDF to extract from. Create the type in the Sensible app (for example, `rate_confirmation`, `certificate_of_insurance`, or `home_inspection_report`).  As a convenience, Sensible automatically detects the best-fit extraction from among the extraction queries (\"configs\") in the document type.  For example, if you create an `auto_insurance_quotes` type, you can add `carrier 1`, `carrier 2`, and `carrier 3` configs to the type in the Sensible app so that you can extract data from all these carriers using the same `type`, without specifying the carrier in the API request.","schema":{"type":"string"},"required":true},{"name":"environment","in":"query","description":"If unspecified, defaults to production. If you specify `development`, extracts preferentially using config versions published to the development environment in the Sensible app. The extraction runs all configs in the doc type before picking the best fit. For each config, falls back to production version if no development version of the config exists.","schema":{"type":"string","enum":["production","development"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document_url"],"properties":{"document_url":{"type":"string","description":"URL that responds to a GET request with the bytes of the PDF to be extracted.  This URL must be either publicly accessible, or presigned with a security token as part of the URL path. To check if the URL meets these criteria, open the URL with a web browser. The browser must either render the PDF as a full-page view with no other data, or download the PDF, without prompting for authentication."},"webhook":{"type":"object","description":"Specifies to return extraction results to the defined webhook as soon as they're complete, so you don't have to poll for results status.  Sensible also calls this webhook on error.","required":["url"],"properties":{"url":{"type":"string","description":"Sensible will POST to this URL when your document is processed"},"payload":{"type":"object","description":"Include info additional to the API response, for example a UUID for verification.","properties":{}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"246a6f60-0e5b-11eb-b720-295a6fba723e\",\n  \"created\":\"2020-11-16T17:30:00.946Z\",\n  \"type\":\"rate_confirmation\",\n  \"status\":\"WAITING\",\n}"}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"One of the following error messages:\n\nMust specify a document type\nSpecified document type does not exist\nMust provide the Content-Type header when request body is present\nBody must be a valid JSON object\nBody should have required property 'document_url'"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"Unauthorized"}}}}},"415":{"description":"415","content":{"text/plain":{"examples":{"Result":{"value":"Content-Type must be application/json"}}}}}},"deprecated":false}},"/v1/generate_upload_url/{type}":{"post":{"summary":"Extract doc at Sensible URL","description":"","operationId":"generate-an-upload-url-1","parameters":[{"name":"type","in":"path","description":"The document type of the PDF to extract from. Create the type in the Sensible app (for example, `rate_confirmation`, `certificate_of_insurance`, or `home_inspection_report`).  As a convenience, Sensible automatically detects the best-fit extraction from among the extraction queries (\"configs\") in the document type.  For example, if you create an `auto_insurance_quotes` type, you can add `carrier 1`, `carrier 2`, and `carrier 3` configs to the type in the Sensible app so that you can extract data from all these carriers using the same `type`, without specifying the carrier in the API request.","schema":{"type":"string"},"required":true},{"name":"environment","in":"query","description":"If unspecified, defaults to production. If you specify `development`, extracts preferentially using config versions published to the development environment in the Sensible app. The extraction runs all configs in the doc type before picking the best fit. For each config, falls back to production version if no development version of the config exists.","schema":{"type":"string","enum":["production","development"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"webhook":{"type":"object","description":"Specifies to return extraction results to the defined webhook as soon as they're complete, so you don't have to poll for results status.  Sensible also calls this webhook on error.","required":["url"],"properties":{"url":{"type":"string","description":"Sensible will POST to this URL when your document is processed"},"payload":{"type":"object","description":"Include info additional to the API response, for example a UUID for verification.","properties":{}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"246a6f60-0e5b-11eb-b720-295a6fba723e\",\n  \"created\":\"2020-11-16T17:30:00.946Z\",\n  \"type\":\"rate_confirmation\",\n  \"status\":\"WAITING\",\n  \"upload_url\":\"YOUR_UPLOAD_URL\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"246a6f60-0e5b-11eb-b720-295a6fba723e"},"created":{"type":"string","example":"2020-11-16T17:30:00.946Z"},"type":{"type":"string","example":"rate_confirmation"},"status":{"type":"string","example":"WAITING"},"upload_url":{"type":"string","example":"YOUR_UPLOAD_URL"}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"One of the following error messages:\n\nMust specify a document type\nSpecified document type does not exist\nMust provide the Content-Type header when request body is present\nBody must be a valid JSON object"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"Unauthorized"}}}}},"415":{"description":"415","content":{"text/plain":{"examples":{"Result":{"value":"Content-Type must be application/json"}}}}}},"deprecated":false}},"/v1/extract_from_url":{"post":{"summary":"Extract portfolio at your URL","description":"","operationId":"provide-a-download-url-for-a-pdf-portfolio-1","parameters":[{"name":"environment","in":"query","description":"If unspecified, defaults to production. If you specify `development`, extracts preferentially using config versions published to the development environment in the Sensible app. The extraction runs all configs in the doc type before picking the best fit. For each config, falls back to production version if no development version of the config exists.","schema":{"type":"string","enum":["production","development"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document_url","types"],"properties":{"document_url":{"type":"string","description":"URL that responds to a GET request with the bytes of the PDF to be extracted.  This URL must be either publicly accessible, or presigned with a security token as part of the URL path. To check if the URL meets these criteria, open the URL with a web browser. The browser must either render the PDF as a full-page view with no other data, or download the PDF, without prompting for authentication."},"types":{"type":"array","description":"Specifies the document types contained in the PDF portfolio.","items":{"type":"string"}},"webhook":{"type":"object","description":"Specifies to return extraction results to the defined webhook as soon as they're complete, so you don't have to poll for results status.  Sensible also calls this webhook on error.","required":["url"],"properties":{"url":{"type":"string","description":"Sensible will POST to this URL when your document is processed"},"payload":{"type":"object","description":"Include info additional to the API response, for example a UUID for verification.","properties":{}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"a2e39ca4-0a50-4be7-91b6-0e3b686e5cf9\",\n    \"created\": \"2021-09-27T21:23:38.933Z\",\n    \"status\": \"WAITING\",\n    \"types\": [\n        \"car_insurance_quote\",\n        \"loss_run\"\n    ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"a2e39ca4-0a50-4be7-91b6-0e3b686e5cf9"},"created":{"type":"string","example":"2021-09-27T21:23:38.933Z"},"status":{"type":"string","example":"WAITING"},"types":{"type":"array","items":{"type":"string","example":"car_insurance_quote"}}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"One of the following error messages:\n\nMust specify a document type\nSpecified document type does not exist\nMust provide the Content-Type header when request body is present\nBody must be a valid JSON object\nBody should have required property 'document_url'"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"Unauthorized"}}}}},"415":{"description":"415","content":{"text/plain":{"examples":{"Result":{"value":"Content-Type must be application/json"}}}}}},"deprecated":false}},"/v1/generate_upload_url":{"post":{"summary":"Extract portfolio at Sensible URL","description":"","operationId":"generate-an-upload-url-for-a-pdf-portfolio-1","parameters":[{"name":"environment","in":"query","description":"If unspecified, defaults to production. If you specify `development`, extracts preferentially using config versions published to the development environment in the Sensible app. The extraction runs all configs in the doc type before picking the best fit. For each config, falls back to production version if no development version of the config exists.","schema":{"type":"string","enum":["production","development"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["types"],"properties":{"types":{"type":"array","description":"Specifies the document types contained in the PDF portfolio.","items":{"type":"string"}},"webhook":{"type":"object","description":"Specifies to return extraction results to the defined webhook as soon as they're complete, so you don't have to poll for results status.  Sensible also calls this webhook on error.","required":["url"],"properties":{"url":{"type":"string","description":"Sensible will POST to this URL when your document is processed"},"payload":{"type":"object","description":"Include info additional to the API response, for example a UUID for verification.","properties":{}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"a2e39ca4-0a50-4be7-91b6-0e3b686e5cf9\",\n    \"created\": \"2021-09-27T21:23:38.933Z\",\n    \"status\": \"WAITING\",\n    \"types\": [\n        \"auto_insurance_quote\",\n        \"loss_run\"\n    ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"a2e39ca4-0a50-4be7-91b6-0e3b686e5cf9"},"created":{"type":"string","example":"2021-09-27T21:23:38.933Z"},"status":{"type":"string","example":"WAITING"},"types":{"type":"array","items":{"type":"string","example":"auto_insurance_quote"}}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"One of the following error messages:\n\nMust specify a document type\nSpecified document type does not exist\nMust provide the Content-Type header when request body is present\nBody must be a valid JSON object"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"Unauthorized"}}}}},"415":{"description":"415","content":{"text/plain":{"examples":{"Result":{"value":"Content-Type must be application/json"}}}}}},"deprecated":false}},"/v1/documents/{id}":{"get":{"summary":"Retrieve results","description":"","operationId":"retrieving-results-1","parameters":[{"name":"id","in":"path","description":"The  extraction ID returned by an extraction endpoint.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"246a6f60-0e5b-11eb-b720-295a6fba723e\",\n   \"created\":\"2020-11-16T17:30:00.946Z\",\n   \"type\":\"rate_confirmation\",\n   \"configuration\":\"anyco\",\n   \"status\":\"COMPLETE\",\n   \"parsed_document\":{\n      \"weight\":{\n         \"source\":\"0.0lbs\",\n         \"value\":0,\n         \"unit\":\"pounds\",\n         \"type\":\"weight\"\n      },\n      \"distance\":{\n         \"source\":\"193mi\",\n         \"value\":193,\n         \"unit\":\"miles\",\n         \"type\":\"distance\"\n      },\n      \"load_number\":{\n         \"type\":\"string\",\n         \"value\":\"WK91242\"\n      },\n      \"carrier_email\":null,\n      \"price\":{\n         \"source\":\"$695.00\",\n         \"value\":695,\n         \"unit\":\"$\",\n         \"type\":\"currency\"\n      },\n      \"pickup_date\":null\n   },\n   \"validations\":[\n      {\n         \"description\":\"weight should be over 10 lbs\",\n         \"severity\":\"warning\"\n      },\n      {\n         \"description\":\"carrier email must be in format string@string\",\n         \"severity\":\"skipped\",\n         \"message\":\"Missing prerequisites: carrier_email\"\n      }\n   ],\n   \"validation_summary\":{\n      \"fields\":6,\n      \"fields_present\":4,\n      \"errors\":0,\n      \"warnings\":1,\n      \"skipped\":1\n   },\n   \"classification_summary\":[\n      {\n         \"configuration\":\"anyco\",\n         \"fingerprints\":2,\n         \"fingerprints_present\":2,\n         \"score\":{\n            \"value\":3.5,\n            \"fields_present\":4,\n            \"penalties\":0.5\n         }\n      },\n      {\n         \"configuration\":\"acme_co\",\n         \"fingerprints\":2,\n         \"fingerprints_present\":2,\n         \"score\":{\n            \"value\":0.5,\n            \"fields_present\":2,\n            \"penalties\":1.5\n         }\n      }\n   ],\n   \"download_url\":\"https://sensible-so-document-type-bucket-dev-us-west-2.s3.us-west-2.amazonaws.com/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/EXTRACTION/246a6f60-0e5b-11eb-b720-295a6fba723e.pdf?AWSAccessKeyId=REDACTED\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"246a6f60-0e5b-11eb-b720-295a6fba723e"},"created":{"type":"string","example":"2020-11-16T17:30:00.946Z"},"type":{"type":"string","example":"rate_confirmation"},"configuration":{"type":"string","example":"anyco"},"status":{"type":"string","example":"COMPLETE"},"parsed_document":{"type":"object","properties":{"weight":{"type":"object","properties":{"source":{"type":"string","example":"0.0lbs"},"value":{"type":"integer","example":0,"default":0},"unit":{"type":"string","example":"pounds"},"type":{"type":"string","example":"weight"}}},"distance":{"type":"object","properties":{"source":{"type":"string","example":"193mi"},"value":{"type":"integer","example":193,"default":0},"unit":{"type":"string","example":"miles"},"type":{"type":"string","example":"distance"}}},"load_number":{"type":"object","properties":{"type":{"type":"string","example":"string"},"value":{"type":"string","example":"WK91242"}}},"carrier_email":{},"price":{"type":"object","properties":{"source":{"type":"string","example":"$695.00"},"value":{"type":"integer","example":695,"default":0},"unit":{"type":"string","example":"$"},"type":{"type":"string","example":"currency"}}},"pickup_date":{}}},"validations":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","example":"weight should be over 10 lbs"},"severity":{"type":"string","example":"warning"}}}},"validation_summary":{"type":"object","properties":{"fields":{"type":"integer","example":6,"default":0},"fields_present":{"type":"integer","example":4,"default":0},"errors":{"type":"integer","example":0,"default":0},"warnings":{"type":"integer","example":1,"default":0},"skipped":{"type":"integer","example":1,"default":0}}},"classification_summary":{"type":"array","items":{"type":"object","properties":{"configuration":{"type":"string","example":"anyco"},"fingerprints":{"type":"integer","example":2,"default":0},"fingerprints_present":{"type":"integer","example":2,"default":0},"score":{"type":"object","properties":{"value":{"type":"number","example":3.5,"default":0},"fields_present":{"type":"integer","example":4,"default":0},"penalties":{"type":"number","example":0.5,"default":0}}}}}},"download_url":{"type":"string","example":"https://sensible-so-document-type-bucket-dev-us-west-2.s3.us-west-2.amazonaws.com/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/EXTRACTION/246a6f60-0e5b-11eb-b720-295a6fba723e.pdf?AWSAccessKeyId=REDACTED"}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"Must specify a document ID"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"Unauthorized"}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Not found"}}}}}},"deprecated":false}},"/v1/generate/{generator}/{mapping}":{"post":{"summary":"Fill template document","description":"","operationId":"fill-doc","parameters":[{"name":"generator","in":"path","description":"the generator name you communicated to Sensible customer support. Create a name that shows the general type of document you want to generate, for example,rate_confirmation, certificate_of_insurance, or home_inspection_report.","schema":{"type":"string"},"required":true},{"name":"mapping","in":"path","description":"the name of the json mapping you wrote and handed off to Sensible customer support.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"download_url\": \"https://sensible-so-document-type-bucket-prod-us-west-2.s3.us-west-2.amazonaws.com/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/GENERATION/26d82783-b22b-4e70-b0ae-ca1ce35a9857.pdf?AWSAccessKeyId=ASIAR355P7ASRMWOLX6W&Expires=1623790786&Signature=REDACTED-amz-security-token=REDACTED\"  \n}"}},"schema":{"type":"object","properties":{"download_url":{"type":"string","example":"https://sensible-so-document-type-bucket-prod-us-west-2.s3.us-west-2.amazonaws.com/sensible/fc3484c5-3f35-4129-bb29-0ad1291ee9f8/GENERATION/26d82783-b22b-4e70-b0ae-ca1ce35a9857.pdf?AWSAccessKeyId=ASIAR355P7ASRMWOLX6W&Expires=1623790786&Signature=REDACTED-amz-security-token=REDACTED"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://api.sensible.so/v0/generate/customer_contract/6_month_contract_map' \\\n--header 'Content-Type: application/json' \\\n--data-raw '\n{\n\t\"data\": {\n\n\t\t\"customer\": {\n\t\t\t\"first_name\": \"John\",\n\t\t\t\"last_name\": \"Doe\",\n\t\t\t\"birth_date\": \"06/24/1979\"\n\t\t},\n\n\t\t\"addresses\": [{\n\t\t\t\t\"street_address\": \"111 Center Street\",\n\t\t\t\t\"zip_code\": \"78123\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"street_address\": \"123 Main Street\",\n\t\t\t\t\"zip_code\": \"78125\"\n\t\t\t}\n\t\t],\n\t\t\"contract\": {\n\t\t\t\"start_date\": \"01/01/2022\",\n\t\t}\n\t}\n}\n'"}],"samples-languages":["curl"]}}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}